/*------------------------------------------------------------------
[Screen Stylesheet]

Project:	SFS 
Version:	1.1
Start Work: 25/04/2018
Last change:	25/04/2018 [fixed Float bug, vf]

-------------------------------------------------------------------*/

$whiteColor: #fff;
$blackColor: #000000;
$PrimaryColor: rgb(5, 76, 105);
$SecondaryColor: rgb(180, 130, 83);
$BodyTextColor: rgb(54, 54, 54);

$BodyFont: 'Muli', sans-serif;
$PrimaryFont:'Muli', sans-serif;
$SecondaryFont: 'Source Sans Pro', sans-serif;


@mixin transformTXY($X,$Y){ transform:translate($X,$Y);-webkit-transform:translate($X,$Y);-moz-transform:translate($X,$Y);-o-transform:translate($X,$Y);-ms-transform:translate($X,$Y);}
@mixin transformTX($X){ transform:translateX($X);-webkit-transform:translateX($X);-moz-transform:translateX($X);-o-transform:translateX($X);-ms-transform:translateX($X);}
@mixin transformTY($Y){ transform:translateY($Y);-webkit-transform:translateY($Y);-moz-transform:translateY($Y);-o-transform:translateY($Y);-ms-transform:translateY($Y);}

@mixin transformOrigin($X,$Y){ transform-origin: $X $Y;-webkit-transform-origin: $X $Y;-moz-transform-origin: $X $Y;-o-transform-origin: $X $Y;-ms-transform-origin: $X $Y;}

@mixin transformScaleTY($X,$Y){ transform: scale($X) translateY($Y);-webkit-transform: scale($X) translateY($Y); -moz-transform: scale($X) translateY($Y);-o-transform: scale($X) translateY($Y);
  -ms-transform: scale($X) translateY($Y);}

@mixin transformRotate($val){ transform: rotate($val);-webkit-transform: rotate($val);-moz-transform: rotate($val);-o-transform: rotate($val);-ms-transform: rotate($val);}
@mixin transformRotateY($val){ transform: rotateY($val);-webkit-transform: rotateY($val);-moz-transform: rotateY($val);-o-transform: rotateY($val);-ms-transform: rotateY($val);}
@mixin transformRotateX($val){ transform: rotateX($val);-webkit-transform: rotateX($val);-moz-transform: rotateX($val);-o-transform: rotateX($val);-ms-transform: rotateX($val);}

@mixin transformSkew($val){ transform: skew($val);-webkit-transform: skew($val);-moz-transform: skew($val);-o-transform: skew($val);-ms-transform: skew($val);}
@mixin transformSkewX($val){ transform: skewX($val);-webkit-transform: skewX($val);-moz-transform: skewX($val);-o-transform: skewX($val);-ms-transform: skewX($val);}
@mixin transformSkewY($val){ transform: skewY($val);-webkit-transform: skewY($val);-moz-transform: skewY($val);-o-transform: skewY($val);-ms-transform: skewY($val);}

@mixin transformScale($val){ transform: scale($val);-webkit-transform: scale($val);-moz-transform: scale($val);-o-transform: scale($val);-ms-transform: scale($val);}

@mixin transitionTime($val){ transition: all $val ease-in-out;-webkit-transition: all $val ease-in-out; -moz-transition: all $val ease-in-out; -o-transition: all $val ease-in-out; -ms-transform: all $val ease-in-out;}

@mixin boxShadow($X,$Y,$Blur,$Spred,$Color){box-shadow: $X $Y $Blur $Spred $Color;	-webkit-box-shadow: $X $Y $Blur $Spred $Color;-moz-box-shadow: $X $Y $Blur $Spred $Color;}

@mixin borderRadius($val){border-radius: $val;-webkit-border-radius: $val;-moz-border-radius: $val;}

@mixin brightness($X,$Y){-webkit-filter: brightness($X) invert($Y); filter: brightness($X) invert($Y);}
@mixin grayscale($X,$Y){  filter: $X; filter: grayscale($Y); -webkit-filter: grayscale($Y); }

@mixin opacity($X,$Y){ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$X)"; filter: alpha(opacity=$X); opacity: $Y; -moz-opacity: $Y; -khtml-opacity: $Y; }

@mixin widthHeight($X,$Y){ width:$X; height:$Y; }

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@media (min-width:1430px) {
  .container{width: 1370px}
}
.WFwrap{width:100%;float:left;}
.large-content{width:100%;display:block;max-width:1132px;}
.medium-content{width:100%;display:block;max-width:1041px;}
.small-content{width:100%;display:block;max-width:875px;
  h4{font-weight:700;letter-spacing:1px;margin-bottom:20px;}
  p{line-height:26px;margin-bottom:24px;}
}

/* =====//   Global Css Style   \\===== */

*{margin:0 auto;padding:0px;list-style: none;outline:none !important;text-decoration:none;}

body {background-color: #fff;line-height:24px;}
body, p {font-family:$BodyFont; color:$BodyTextColor;font-size: 14px;}
p{line-height:24px;font-weight:400;}
p.lead {font-size: 16px;line-height: 32px;color:#6b6b6b;font-weight:400;}
.img-responsive{max-width:100%;}
h1, h2, h3, h4, h5, h6, .system-message h1, .system-error-message h1 {margin-bottom: 1.25rem;}
a {color: $PrimaryColor;font-family: $PrimaryFont;outline:none;cursor: pointer;@include transitionTime(300ms);}
a:hover,a:focus,a:active{text-decoration:none;}
h1, h2, h3, h4, h5, h6 {color: $PrimaryColor;line-height: normal;font-family: $PrimaryFont;margin-top:0px;}
a:focus{color:$PrimaryColor;}
h1 {font-size: 32px;}
h2 {font-size: 32px;line-height:48px;font-weight:400;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

ol,ul{margin:0px;}

figure {margin: 0px;}
em {font-style: normal;}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea 
{width: 100%;background-color: #fff;border: 1px solid $PrimaryColor;box-shadow: none;font-size: 14px;color: #241e20;font-family: $PrimaryFont;line-height: 20px;padding: 9px 15px;@include borderRadius(0);margin-bottom: 20px;}
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {box-shadow: none;}
label {font-size: 16.64px;font-family: $PrimaryFont;color: #6D6E70;}
textarea {height: 165px}

[type='submit'],button{font-size: 16px;color:$whiteColor;line-height: 22px;font-family:$PrimaryFont;font-weight:400;padding: 8px 30px;margin-bottom: 0;text-transform:uppercase;border:none;background:$SecondaryColor;@include borderRadius(0px);@include transitionTime(0.5s);letter-spacing: 2px;
  &.small{font-size:12px;padding: 8px 18px 6px 18px;line-height: 16px;letter-spacing:1px;}
}

select,select.form-control{background: #fbfbfb url(../_assets/img/select-arrow.png) no-repeat center right;background-size: inherit;width: 100%;border: 1px solid #edeff1;box-shadow: none;font-size: 15px;color: #9f9f9f;font-family: $BodyFont;line-height:21px;padding: 12px 12px;border-radius: 0;margin-bottom: 20px;-moz-appearance: none;-webkit-appearance: none;appearance: none;}

select{-webkit-appearance: none;-moz-appearance:none;-o-appearance:none;appearance:none;}
select::-ms-expand{display:none;}

.form_select select, .form_select select.form-control{background:#fff url(../assets/select-arrow-01.jpg) no-repeat top right;background-size: contain;}
.text-left{text-align:left}
.text-right{text-align:right}

.Wrap5 {margin-left: -5px;margin-right: -5px;
  .ST_Grid{padding-left:5px;padding-right:5px}
}
.Wrap8 {margin-left: -8px;margin-right: -8px;
  .ST_Grid{padding-left:8px;padding-right:8px;}
}

.Wrap10 {margin-left: -10px;margin-right: -10px;
  .ST_Grid{padding-left:10px;padding-right:10px;}
}
.Wrap12 {margin-left: -12px;margin-right: -12px;
  .ST_Grid{padding-left:12px;padding-right:12px;} 
}

.left{float:left;}
.right{float:right;}
.p0{padding:0px;}

.whiteWrap{background:$whiteColor;padding:45px 0; }
.lightGreyWrap{background:#f0f6fa;padding:45px 0; }
.svg-icon{opacity: 1; fill: $whiteColor;
  path{fill: $whiteColor;}
}
.svg-close{opacity: 1; fill: rgb(107, 107, 107);@include widthHeight(20px,20px);
  path{fill: rgb(107, 107, 107);}
}

.svg-rss{opacity: 1; fill: $PrimaryColor; @include widthHeight(17px,17px);
  path{fill: $PrimaryColor;}
}

.socialicon{opacity: 1;fill: rgb(255, 255, 255);width: 22px;height: 22px;
	path{fill: rgb(255, 255, 255);}
}


/* =====//   Header   \\===== */

.construct-area{position:relative;padding-left:199px;
  .site-logo{width:100%;max-width:180px;float:left;@include transitionTime(400ms);background:$whiteColor;line-height:0px;padding:0px;position:absolute;top:0px;left:0px;
    a{display:inline-block;font-size:0px;line-height:0px;padding:14px 13px 18px 20px;
      img{display:inline-block;}
    }
  }
}

header{width:100%;float:left;background:$PrimaryColor;text-align:center;position:relative;z-index:99;
  .topheader{border-bottom:2px solid $whiteColor;padding:3px 0 5px 0;position:relative;	
    ul.lang-nav{width:100%;float:left;
      li{float:left;position:relative;margin:0 10px;
        a{font-size:12px;color:$whiteColor;position:relative;display:inline-block;
          .down-icon{border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #fff;display: inline-block;margin-left: 5px;vertical-align: 1px;}
          .svg-icon{@include widthHeight(18px,18px);vertical-align: -5px;margin-right:6px;}
          i{margin:0 4px 0 2px;font-weight:300;display:inline-block;}		 
        }					
        ul{position: absolute;top: 100%;left: 0;z-index: 2;display: none;min-width: 115px;background-color: $whiteColor;border: 1px solid #ccc;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);text-align:left;
          li{width:100%;display:inline-block;padding:0px;border-bottom: 1px solid #e5e5e5;margin:0px;
            a{font-size: 12px;color: #111;padding: 5px 15px;display: block;line-height: 20px;text-transform: uppercase;}
          }		  
        }
        &:first-child{margin-left:0px;}
        &:last-child{margin-right:0px;}
        &:hover ul{display:block;}
      }
    }
    .search-box{width: 100%;height: 100%;position: absolute;left: 0px;top: 0px;background: #fff;padding: 0px;display: none;z-index:11;
      form{width: 100%;display: block;max-width: 85%;position: relative;margin:0 auto;
        input {margin-bottom: 0px;border: 0px;font-size: 14px;color: $PrimaryColor;line-height: 21px;padding: 7px 0;background: transparent;box-shadow:none;}
        .btn-close-search {width: 35px;height: 100%;font-size: 18px;color: #182d4a;position: absolute;top: 0px;right: 0px;text-align: center;line-height: 0;padding-top: 8px;}
      }
    }
    &.opensearch .search-box{display:block}
  }
  .primary_nav{width:100%;float:left;line-height:0px;padding:10px 0;
    .site-mob-logo{display:none;width: 200px;float: left;}
    nav.topbar-nav{width:auto;float:left;text-align:center;line-height:0px;padding:0;
      ul.navbar{width:auto;display:inline-block;min-height:inherit;border:none;position:static;@include transitionTime(0.4s);@include borderRadius(0px);margin:0px;
        li.menu-item{float:left;padding:0px;margin:0 19px; position:relative;@include transitionTime(0.4s);
          &:first-child{margin-left:0px;}
          &:last-child{margin-right:0px;}
          >a{font-size:16px;color:$whiteColor;line-height:24px;padding:2px 0; font-family:$PrimaryFont;font-weight:600;display:inline-block;position:relative;
            em{margin-left:6px;}
            &:after{content:'';width:0%;height:0px;border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 4px solid $whiteColor;position: absolute;bottom: -10px;left: 0px;right: 0;margin: 0 auto;opacity:0;@include transitionTime(0.25s);}
          }
          .submenu {width: 185px;background: $whiteColor;display: block;z-index: 499;padding:19px 28px 24px 28px;box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.26);position: absolute;top: 38px;left: 0;opacity: 0;visibility: hidden;@include transformOrigin(center,center);@include transformTY(-50px);@include transitionTime(0.25s);text-align:left;
            &:before{content:'';width:100%;height:10px;background:transparent;position:absolute;top:-10px;left:0px;}

            li {@include transitionTime(0.25s);
              a{font-size:12px;color:$PrimaryColor;font-family:$PrimaryFont;display:block;line-height:20px;padding:4px 0 0px 0px;@include transitionTime(0.25s);}
              &:hover{padding-left:8px; >a{color:$PrimaryColor;}}
            }
          }
          ul.submenu{
            li{position:relative;
              .submenu{top: 0;left: 100%;}
              &:hover > .submenu {opacity: 1; @include transformRotateX(0deg);visibility: visible;}
            }
          }
          &:hover {
            &.nb-sub-nav a:after{opacity:1;}
            > .submenu {opacity: 1; @include transformRotateX(0deg);visibility: visible;}

          }
          &.twoColMenu{
            h6{font-size:14px; color:$SecondaryColor;margin:5px 0 10px 0;}
            .submenu{width:423px;}
          }
        }
      }
    }
    .shopping-cart{width:auto;float:right;position: relative;
      a{display:inline-block;}
      .svg-icon{@include widthHeight(27px,27px);}
      .cart-desc {width: auto;float: left;padding-right: 10px;text-align:right;
        span {font-size: 9px;color: $whiteColor;display: block;line-height: 14px;
          &.title{font-size: 14px;}
        }
      }
    }	
  }
}
.navbar-expand-toggle {display: none;@include widthHeight(30px,30px);padding: 14px 4px;float: left;position: absolute;@include transformRotate(0deg);@include transitionTime(0.5s);cursor: pointer;border: none;background: transparent;top:3px;left:10px;z-index:11;
  span {height: 2px;width: 100%;float:left;background: $whiteColor;opacity: 1;@include transitionTime(0.5s);position: relative;line-height: 0px;top: 0px;
    &:after,&:before{content: '';width: 100%;height: 2px;display: inline-block;background: $whiteColor;@include transitionTime(0.5s);position: absolute;left: 0px;}
    &:before {top: -7px;}
    &:after {bottom: -7px;}
  }
}

/* =====//   Sidebar Menu   \\===== */

.app-container {min-height: 100%;position: relative;overflow: hidden;width:100%;float:left;
  .content-container {margin-right: 0;margin-left: 0;width:100%;float:left;
    .side-menu {overflow-y: auto;z-index: 100000;position: fixed;top:0px;width: 380px;max-width:100%;height: 100%;@include transitionTime(0.5s);@include transformTX(-100%);border-right:1px solid #e9e9e9;background:$whiteColor;
      .navbar-default {border: none;padding: 0px;margin:0px;background-color: transparent;
        .navbar-header {width: 100%;padding:24px 20px 24px 24px;
          .logo{width:auto;float:left;}
          button.close-nav{@include widthHeight(25px,25px); float: right;background: transparent;border: none;box-shadow: none;padding: 0px;overflow: hidden;position:relative;
            &::before, &::after {content: '';@include widthHeight(100%,2px); position: absolute;top: 50%;left: 0;background: $PrimaryColor;margin-top:-1px;}
            &::before{@include transformRotate(45deg);}
            &::after {@include transformRotate(-45deg);}
          }
        }
        ul.metismenu{width:100%;display:inline-block;padding:10px 0 16px 0;position:relative;z-index:2;
          .active > .has-arrow::after{-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}
          li{
            a{font-size:16px;line-height:24px;color:$PrimaryColor;padding:9px 20px 9px 24px;display:block;cursor:pointer;text-transform:capitalize;}
            ul{margin-bottom:0px;padding:0px 0;background-color: #f2f2f2;
              li{padding-left:16px;
                a{font-size:14px;line-height:24px;}
                ul{margin-bottom:0px;

                }
              }						
            }					
          }
          &.account-nav>li{
            >a{font-size1:16px;color:$SecondaryColor;font-family:$PrimaryFont;}
            ul{background:#fff; li{padding-left:0px;}}
          }
        }
      }
      .bottom-side-panel{width:100%;display:inline-block;padding:26px 20px 26px 24px;
        ul.side-info{width:100%;display:inline-block;border-bottom:1px solid #f0f6fa;padding-bottom:20px;margin-bottom:12px;
          li{display:block;position:relative;padding:6px 0 6px 30px;margin:4px 0;
            svg{@include widthHeight(18px,18px);fill:$PrimaryColor;opacity:1;position: absolute;top: 10px;left: 0px;
				path{fill:$PrimaryColor}
			}
            a{font-size:16px;}
          }
        }
        ul.social_icons {}
        p{font-size:12px;margin-bottom:0px;}
      }
    }
    .container-fluid{padding:0px; @include transitionTime(0.5s);text-align:center;
      .side-body{width:100%;display:block;background:$whiteColor;text-align:left;-webkit-box-shadow:0 20px 50px rgba(0,0,0,.05);box-shadow:0 20px 50px rgba(0,0,0,.05);position:relative;
        &.openmenu:before{content:'';width:100%;height:100%;position:absolute;top:0px;left:0px;background-color: rgba(28, 56, 77, 0.7);z-index:99;}
      }
    }
  }	
  &.expanded{
    .content-container{
      .side-menu {@include transformTX(0px); }
      .container-fluid{padding:0px;@include transformTX(0px);}
    }
    &:before {content: '';width: 100%;height: 100%;background: rgba(0,0,0,0.7);position: absolute;top: 0px;left: 0px;z-index: 9999;}
  }	
}

/* =====//   Cart Sidebar   \\===== */

.cart-side-panel{width: 380px;max-width:100%;overflow-y: auto;z-index: 100000;position: fixed;top:0px;right:0px;height: 100%;@include transitionTime(400ms);background:$whiteColor;@include transformTX(100%);	
  .cart-container{width:100%;float:left;padding:0 22px;}
  .block-cart-header{width:100%;float:left;	
    a.cart-close{display:inline-block;margin:2px 0px 2px 15px;float:right;
      .svg-close{@include widthHeight(28px,28px);}
    }
    h4{font-size:22px; color:$SecondaryColor;font-weight:700;margin:15px 0px;line-height:43px;}
    h6{font-size:14px; color:#57595c;line-height:22px;border-width:1px 0 1px 0;border-style:solid;border-color:#ededed;padding:12px 0;margin:0px;}
  }
  .cart-middle-items{width:100%;float:left;padding:7px 0;overflow:auto;
    .items_row{width:100%;float:left;position:relative;margin:15px 0;
      .cart-left{width:25%;float:left;border:2px solid #eae7e5;
        a{padding:0px;display:inline-block;
          img{display:inline-block;max-width:100%;}
        }
      }
      .cart-right{width:75%;float:left;padding:0 0 0 20px;
        .cart-title{width:100%;float:left;min-height:42px;padding-right:24px;margin-bottom:3px;
          a{font-size:14px;color:$PrimaryColor;line-height:normal;padding:0px;font-weight: 600;letter-spacing: 1px;
            &:hover{color:$SecondaryColor;text-decoration:none;}
          }
        }
      }
      .cart-price{width:auto;float:right;padding:10px 0;
        span{font-size:16px;color:$PrimaryColor;display:block;line-height:20px;}
      }
      .QuantityBox{max-width:125px;}
      .icon-close{line-height: 0px;display: inline-block;position: absolute;right: 0px;top: 0px;}
      &:first-child{border-top:0px;}			
    }
    .functionCart{width:100%;float:left;padding:20px 0 10px 0;
      textarea{height:120px;background:#f9f9f9;color:#98999a;font-size:16px;font-family:$PrimaryFont;margin-bottom:0px;}
    }
  }	
  .block-cart-footer{width:100%;float:left;
    .subtotal{width:100%;float:left;padding:22px 0 8px;border-top: 1px solid #ededed;
      span{font-size:22px;color:$SecondaryColor;font-weight:400;line-height:35px;float:left;font-family: $PrimaryFont;text-transform:capitalize;}
      span.money{font-family: $PrimaryFont;padding-left:12px;float:right;}
      p{width:100%;float:left;font-size:15px;color:#797979;padding-top:8px;margin-bottom:0px;text-align:center;}
    }
    .cart-btn{width:100%;float:left;padding:6px 0 20px 0;
      .btn{width:100%;
        em{font-size:12px;margin-left:8px;}
      }
    }
  }	
}
.CartOpen{position:relative;overflow:hidden;
  &:before{content:''; @include widthHeight(100%,100%); background:rgba(0, 0, 0, 0.7);position:absolute;top:0px;left:0px;z-index:9999;}
  .cart-side-panel{@include transformTX(0px);}
}
ul.QuantityBox{width:100%;float:left;max-width:157px;margin:0px;background:#fff;border:2px solid #f0f6fa;padding:2px 0;
  li{width:33.33333%;height:32px;float:left;text-align:center;padding:0px;border-bottom:0px;padding:0px; border-width:0px 1px;border-style:solid;border-color:#f0f6fa;  
    &.input-box input{font-size: 16px;color: $PrimaryColor;Margin: 0px;padding:6px 5px;text-align: center;line-height: 20px;background: transparent;border: none;font-weight:700;}
    a{width:100%;height:100%;font-size:16px;color:$PrimaryColor;padding:6px 5px;margin:0px;border:none;display:block;line-height:20px;font-weight:700;}
    &:first-child{border-left-width:0px;}
    &:last-child{border-right-width:0px;}
  }
}

/* =====//   Button slider   \\===== */

.btn {font-size: 16px;color:$PrimaryColor;line-height: 26px;font-family:$PrimaryFont;font-weight:400;padding: 7px 30px;margin-bottom: 0;text-transform:uppercase;border:none;@include borderRadius(0px);@include transitionTime(0.5s);letter-spacing: 2px;
  &.btn-primary{background:$SecondaryColor;color:$whiteColor;
    &:hover{background:$PrimaryColor;color:$whiteColor;}
  }
  &.btn-secondary{background:$PrimaryColor;color:$whiteColor;
    &:hover{background:$SecondaryColor;color:$whiteColor;}
  }
  &.btn-default{background:$whiteColor;color:$SecondaryColor;
    &:hover{color:$whiteColor;background:$SecondaryColor;}
  }
  &.btn-round{@include borderRadius(30px);}
  &.small{font-size:12px;padding:9px 25px 7px 25px;line-height: 16px;letter-spacing:1px;min-width:200px;}
  &.btn-border{border:1px solid #fff;background:transparent;color:#fff;
    &:hover{background:$whiteColor;color:$PrimaryColor;}
    &.btn-primary{border-color:$SecondaryColor;color:$SecondaryColor;
      &:hover{background:$SecondaryColor;color:$whiteColor;}
    }
  }
}

/* =====//   Home slider   \\===== */

ul.Homeslider{margin-top:-80px;
  li{position:relative;height:700px;
    img{width:100%;}
    .desctop-img{display:block;}
    .mobile-img{display:none;}
    &:after{content:'';@include widthHeight(100%,100%);position:absolute;top:0px;left:0;background-image:linear-gradient(rgba(0, 0, 0, 0.6) 2%, rgba(0, 0, 0, 0.2) 102%);}
  }	
  .slick-next, .slick-prev {@include widthHeight(75px,75px);@include transitionTime(0.4s);border:3px solid $PrimaryColor;opacity:0.5;
    &:before{font-size: 30px;line-height: 68px;color: $SecondaryColor;opacity: 1;width: 70px;height: 100%;font-weight: 500;}
    &:hover{opacity:1;background: $whiteColor;border-color:$whiteColor;}
  }
  .slick-next:before{float:left;}
  .slick-prev:before{float:right;}
  ul.slick-dots{bottom:40px;
    li{@include borderRadius(50%);height:auto;
      button{@include widthHeight(18px,18px);@include borderRadius(50%);background:$whiteColor;
        &:before{color:transparent}
      }
      &:after{display:none !important;}
      &.slick-active button{background:$PrimaryColor;}
    }
  }
}
.slide-caption{width:100%;height:auto;position:absolute;top:59%;left:0px;@include transformTY(-50%);z-index:11;
  .small-content{width:100%;float:left;max-width:405px; 
    h4{color:$whiteColor;margin:0px 0 14px 0;line-height:30px;position:relative;padding-bottom:21px;
      &:before{content:'';@include widthHeight(100px,2px);background:$whiteColor;position:absolute;bottom:0px;left:0px;}      
    }
    p{font-size:16px;color:$whiteColor;line-height:24px; margin-bottom:22px;}		
    a.btn{margin-top:5px;min-width:180px;}
  }
}

/* =====//   Service   \\===== */

.features-service{width:100%;float:left;padding:26px 0;
  h2{margin-bottom:20px;}
  .el-circle{@include widthHeight(250px,250px);@include borderRadius(50%);position:relative;display: block;margin: 0 auto;
    img{width:100%;@include borderRadius(50%);position:relative;z-index:2;}
    &:before{content:'';width:100%;height:100%;position:absolute;top: 16px;left: 24px;background:$SecondaryColor;@include borderRadius(50%);}
    .fs-arrow{font-size:100px;color:$SecondaryColor;line-height:normal;font-weight:800; position:absolute;top:0px;left:-52px;z-index:3;}
    &.prim_col{
      &:before{background:$PrimaryColor;top: 16px;left:-24px;}
      .fs-arrow{color:$PrimaryColor;@include transformRotate(180deg);left:inherit;right:-42px;top:20px;}
    }
  }
}
.check-wrapper{width:100%;float:left;position:relative;padding:2px 0 2px 72px;
  h6{font-size: 14px;font-weight: 800;line-height: 21px;color: #6b6b6b;margin-bottom: 2px;}
  &:before,&:after{position:absolute;display:inline-block;@include borderRadius(50%);}
  &:before{content:'';@include widthHeight(50px,50px);background:#f0f6fa;top:0px;left:0px;}
  &:after{@include widthHeight(28px,28px);font-size:12px;color:$whiteColor;line-height: 28px;content: "\e90a";font-family: 'icomoon';text-align: center;background:$PrimaryColor;top:11px;left:11px;}
}
.cw-btn{padding:6px 0 0px 72px;}
.lightGreyWrap .check-wrapper:before{background:$whiteColor;}
ul.list-style{padding-bottom:20px;padding-left:15px;
  li{font-size:14px;color:$BodyTextColor;line-height:24px;list-style:disc;}
  &.white-text li{color:$whiteColor;font-weight:700;}
  &.large li{font-size:16px;line-height:32px;}
}
.made-wisconsin{padding:63px 0 73px 0; background:#000 url('../_assets/img/samuel-schneider.jpg') no-repeat top right;
  h4{color:$whiteColor;margin-bottom:16px;}
  p{color:$whiteColor;line-height:32px;}
  a.btn{margin-top:14px;}

}
.fluid-title{width:100%;display:inline-block;border-bottom:1px solid $PrimaryColor;margin-bottom:17px;margin-top:20px;
  h5{color:$PrimaryColor;font-weight:600;display:inline-block;margin-bottom:8px;}

}

/* =====//   Blog   \\===== */

.single-post{width:100%;float:left;position:relative;margin-bottom:20px;	
  figure{width:100%;float:left;position:relative;overflow:hidden;
    a{position: relative;display: block;
      &:after {content: '';width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: $PrimaryColor;opacity: 0;filter: alpha(opacity=0);@include transitionTime(0.4s);}
      span {width: 2px;height: 46px;position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%) scaleY(0) rotate(360deg);-moz-transform: translate(-50%,-50%) scaleY(0) rotate(360deg);-ms-transform: translate(-50%,-50%) scaleY(0) rotate(360deg);transform: translate(-50%,-50%) scaleY(0) rotate(360deg);background-color: #fff;@include transitionTime(0.4s);z-index: 1;
        &:after, &:before {content: '';position: absolute;width: 2px;height: 23px;background-color: #fff;top: 50%;left: 50%;}
        &:before {-webkit-transform: translate(-50%,0) scaleY(1) rotate(0);-moz-transform: translate(-50%,0) scaleY(1) rotate(0);-ms-transform: translate(-50%,0) scaleY(1) rotate(0);transform: translate(-50%,0) scaleY(1) rotate(0);    transition: all .4s cubic-bezier(.64,-1.18,.68,1.81) 0s;-webkit-transform-origin: 50% 0;-moz-transform-origin: 50% 0;-ms-transform-origin: 50% 0;transform-origin: 50% 0;}
        &:after {-webkit-transform: translate(-50%,0) scaleY(1) rotate(-180deg);-moz-transform: translate(-50%,0) scaleY(1) rotate(-180deg);-ms-transform: translate(-50%,0) scaleY(1) rotate(-180deg);transform: translate(-50%,0) scaleY(1) rotate(-180deg);-webkit-transition: all .4s cubic-bezier(.64,-1.18,.68,1.81) 0s;-o-transition: all .4s cubic-bezier(.64,-1.18,.68,1.81) 0s;transition: all .4s cubic-bezier(.64,-1.18,.68,1.81) 0s;-webkit-transform-origin: 50% 0;-moz-transform-origin: 50% 0;-ms-transform-origin: 50% 0;transform-origin: 50% 0;}
      }
      img{width:100%;@include transitionTime(0.8s);}
    }
  }
  .post-info{width:100%;float:left;padding:16px 0 7px 0;
    h6{font-size:14px;line-height:24px;color:#6b6b6b;font-weight:800;margin-bottom:6px;
      a{color:#6b6b6b;
        &:hover{color:$SecondaryColor;}
      }
    }
    p{color:#6b6b6b;
      a{color:$SecondaryColor;font-weight:700;
        &:hover{color:$PrimaryColor;}
      }
    }
  }
  &:hover figure a{
    &:after{opacity: .6;filter: alpha(opacity=60);}
    span{-webkit-transform: translate(-50%,-50%) scaleY(1) rotate(0);-moz-transform: translate(-50%,-50%) scaleY(1) rotate(0);-ms-transform: translate(-50%,-50%) scaleY(1) rotate(0);transform: translate(-50%,-50%) scaleY(1) rotate(0);
      &:before {-webkit-transform: translate(-50%,0) scaleY(1) rotate(90deg);-moz-transform: translate(-50%,0) scaleY(1) rotate(90deg);-ms-transform: translate(-50%,0) scaleY(1) rotate(90deg);transform: translate(-50%,0) scaleY(1) rotate(90deg);-webkit-transition-delay: .4s;transition-delay: .4s;}
      &:after {-webkit-transform: translate(-50%,0) scaleY(1) rotate(-90deg);-moz-transform: translate(-50%,0) scaleY(1) rotate(-90deg);-ms-transform: translate(-50%,0) scaleY(1) rotate(-90deg);transform: translate(-50%,0) scaleY(1) rotate(-90deg);-webkit-transition-delay: .5s;transition-delay: .5s;}
    }
    img{@include transformScale(1.05);}
  }
}

/* =====//   footer   \\===== */

footer{width:100%;float:left;position:relative;overflow:hidden;background:$PrimaryColor;
  .footer-top-area{width:100%;display:table;
    .fc-widget{float:none;display:table-cell;vertical-align:top;position:relative;
      &.col-md-4{background-color: rgb(4, 58, 79);
        &:before{content:''; width:200%;height:100%;position:absolute;top:0px;left:100%;background:rgb(4, 58, 79);;}
        .footer-widget{max-width:385px;float:right;}
      }
    }
    .footer-widget{width:100%;float:left;padding:45px 0;
      h6{font-size:14px;color:$whiteColor;margin-bottom:10px;font-weight:600;
        a{text-decoration:underline;color:$whiteColor;}
      }
      p{font-size:12px;color:$whiteColor;line-height:18px;}
      ul.widget-nav{width:100%;float:left;
        li{width:100%;float:left;padding:3px 0;
          a{font-size:12px;line-height:18px;padding:0px;color:$whiteColor;display:block;font-weight:300;
            &:hover{color:$SecondaryColor;}
          }
        }
      }
      .newsletter-widget{width:100%;float:left;padding:2px 0 20px 0;
        form{width:100%;display:inline-block;position:relative;padding-right:118px;
          input[type='text'], input[type='email']{font-size:12px;color:#999;margin-bottom:0px;line-height:18px;border:none;padding: 6px 15px;}
          button{position:absolute;top:0px;right:0px;width:119px;text-transform:capitalize;}
        }
      }
    }
    .america-aca{width:100%;display:inline-block;text-align:left;
      a{display:inline-block;}
    }
  }
  .copyright{width:100%;float:left;background:$whiteColor;padding:4px 0;
    ul.payment_method{width:auto;float:right;
      li{float:left;padding:0 5px;line-height:0px;
        &:first-child{padding-left:0px;}
        &:last-child{padding-right:0px;}
        svg{opacity: 1; fill: rgb(4, 58, 79); width: 29px; height: 29px;
          path{fill: rgb(4, 58, 79);}
        }
      }
    }
    p{font-size:11px;color:rgb(4, 58, 79);margin-bottom:0px;font-weight:700;line-height: 21px;padding: 4px 0;}
  }
}
ul.follow-nav{width:100%;float:left;line-height:0px;
  li{float:left;padding:2px 5px;					
    &:first-child{padding-left:0px;}
    &:last-child{padding-right:0px;}
    a{line-height:0px;display:inline-block;}
  }
}
.question-nav{@extend ul.follow-nav;padding-top:9px;
  li{padding:0 8px;}
} 

/* =====//   Breadcrumbs   \\===== */

.breadcrumbs-wrap{width:100%;float:left;background:#f0f6fa;
  ol.breadcrumb{margin-bottom:0px;padding:5px 10px 8px 199px;background-color: transparent;
    li{font-size:10px;color:#4a4a4a;font-weight:400;line-height:15px;
      a{color:#4a4a4a;}
      &+li:before{color:#4a4a4a;padding:0 3px;}
    }
  }
}

.block_quote{width:100%;float:left;border-left:2px solid $PrimaryColor;padding:0 0 0 30px;
  h4{color:$PrimaryColor;font-weight:700;margin-bottom:18px;}
  p{margin-bottom:0px;}
}

/* =====//   collection   \\===== */

.main-wrapper{width:100%;float:left; padding:15px 0 0 0}
.collection-item{width:100%;float:left;margin-top:30px;
  figure{width:100%;float:left;position:relative;
    img{width:100%;}
    figcaption{width: 100%;float:left;max-width: 92%;position: absolute;bottom: 15px;left: 4%;padding: 15px 20px 15px 20px;background: rgba(0, 0, 0, 0.47);	
      .ci-detail{width:100%;float:left;border-left:2px solid $whiteColor;padding:0 0 0 15px;
        h4{color:$whiteColor;font-weight:300;margin-bottom:6px;text-transform:uppercase;
          a{color:$whiteColor;}
        }
        p{font-size:16px;line-height:20px;color:#fff;margin-bottom:3px;}
        .cd-btn{width:100%;float:left;height:0px;@include transitionTime(400ms);overflow:hidden;opacity:0;
          a.btn{font-weight:700;@include transformScale(0);@include transitionTime(400ms);}
        }
      }
    }
  }
  &:hover {
    figure figcaption .ci-detail .cd-btn{height:77px;opacity:1;overflow:visible;padding-top:45px;
      a.btn{@include transformScale(1);}
    }
  }
}
.img-banner{position:relative;height:500px;overflow:hidden;
  img{width:100%;}
  .ib-caption{width:100%;position:absolute;top:50%;left:0px;@include transformTY(-50%);z-index:2;}
  .ib-overlay{@include widthHeight(100%,100%);background-image:linear-gradient(234deg, rgba(0, 0, 0, 0) 3%, rgb(0, 0, 0) 101%, rgba(0, 0, 0, 0) 103%);position:absolute;top:0px;left:0px;
    &.overlay-2{background-color: rgba(0, 0, 0, 0.28);background-image:none;}
  }
}
.ib_content{width:100%;float:right;max-width:671px;background:rgba(0, 0, 0, 0.6);padding:41px 42px 33px 42px;
  h1{font-size: 24px;line-height:30px; letter-spacing:2px;color:$whiteColor;font-weight:700;margin-bottom:7px;}
  h6{color:$whiteColor;font-weight:700;}
  .ib_box{width:100%;display:inline-block;background:#fff;padding:30px 28px 18px 33px;margin-top: 65px;margin-bottom:24px;
    h6{color:$PrimaryColor;font-weight:700;line-height:normal;
      a{color:$SecondaryColor;text-decoration:underline}
    }
  }
}
.pro-content-desc{padding:34px 0 22px 0;}
.block_desc{width:100%;float:left;
  h5{font-weight:700;color:$PrimaryColor;margin-bottom: 24px;}
  p{max-width:630px;margin-bottom:30px;}
}
.sticker-block{width:100%;float:left;padding-top:20px;
  h5{color:#fff;font-weight:700;margin-bottom:25px;}
}
.swatch-size{width:100%;display:inline-block;padding:33px 0 44px 0;
  h6{font-size:12px;font-weight:400;}
  ul.pro_size{display:inline-block;width:100%;
    li{float:left;padding:0 9px;line-height:0px;
      &:first-child{padding-left:0px;}
      &:last-child{padding-right:0px;}
      a{font-size:12px;color:$PrimaryColor;min-width:100px;line-height:28px;padding:2px 5px 0 5px; font-weight:700;display:inline-block;background:$whiteColor;text-align:center;
        &:hover,&.active{background:$SecondaryColor;color:$whiteColor;}
      }		 
    }
  }
}
.product-quantity{width:100%;display:inline-block;border-top:1px solid #fff;padding-top:34px;
  .prices{display:inline-block;
    span{font-size:24px;color:#fff;font-weight:800;display:inline-block;line-height:40px;letter-spacing:2px;}
  }
  .CartItem{width:100%;display:inline-block;position:relative;padding-left:143px;
    ul.QuantityBox{max-width:125px;position:absolute;top:0px;left:0px;}
    button[type="submit"]{width:100%;padding:8px 15px 10px 15px;}
  }
}

/* =====//  Shopping Cart Page Style  \\===== */

.fluid-area{width:100%;float:left;padding-right:35px;}
.sc-title{width:100%;display:inline-block;border-bottom:1px solid #eae7e5;
  h1{font-size:24px;line-height:30px;color:$PrimaryColor;font-weight:700;letter-spacing:1px;margin-bottom:15px;}
}
.cart_wrap{width:100%;float:left;padding:15px 0;
  h5{color:#1f1f1f;text-transform:uppercase;margin-bottom:20px;}
  >ul{width:100%;float:left;margin-bottom:30px;border-bottom:1px solid #eae7e5;padding-bottom:15px;
    >li{width:100%; float:left;padding:10px 45px 10px 0px;position:relative;display: table;@include transitionTime(0.4s);    
      .tt-remove{position: absolute;right: 0px;top: 50%;@include transformTY(-50%);min-height:inherit;padding:0px;
        .svg-close{@include widthHeight(24px,24px);fill: rgb(107, 107, 107);
          path{fill: rgb(107, 107, 107);}
        }
      }
      a.remove{float: right;padding:0px;line-height:0px;}
      .qutinput{font-size:17px;color:$SecondaryColor;text-align:center;max-width:135px;border-color:#e9e9e9;margin:20px 0 0 0;}   
    }
    .tt-product{width:64%;padding-left:0px;padding-right:0px;}		   
    .tt-qut{width:22%;}
    .tt-total{width:14%;
      span{font-weight:400;color:$PrimaryColor;text-align: center;}
    }
    div{font-size:20px;line-height:24px;display: table-cell;vertical-align: middle;padding:8px 10px;color:$PrimaryColor;font-family:$PrimaryFont;position:relative;
      h6{font-size:14px;margin:0 0 6px 0;letter-spacing:2px;font-weight:700;
        a{color:$PrimaryColor;
          &:hover{color:$SecondaryColor;}
        }
      }
      p{font-size:14px;color:$PrimaryColor;margin:0px 0;line-height:18px;
        &.swatchsize{font-size:12px;margin-top:8px;}
      }
      span{width:100%;display:inline-block;line-height:48px;}      
    }
    .pro_img{padding:0px;width:13%;float:left;border:2px solid #eae7e5;
      img{width:100%;}
    }
    .pro_Desc{width:87%;float:left;min-height:auto;position:absolute;top:50%;right:0px;@include transformTY(-50%);padding-left: 24px;}
  }		
}
.fluidside_box{width:100%;float:left;background:#f0f6fa;padding:22px 27px 22px 17px;}
.payment_option{width:100%;float:left;
  ul.total-payment{width:100%;display:inline-block;padding:0px;margin:0px;
    li{width:100%;display:inline-block;font-size:16px;color:#241e20;letter-spacing:1px;font-weight:600;margin-bottom:8px;
      span{float:right;}
    }
  }
  p{font-size:13px;letter-spacing:1px;margin-bottom:11px;color:#6b6b6b;
    &.text-pay-with{text-align:center;}
  }
  [type='submit']{width:100%;line-height:24px;font-family:$SecondaryFont;font-weight:600;margin-bottom:13px;}
  .paypal_method{width:100%;display:inline-block;line-height:0px;border-bottom:1px solid #fff;padding-bottom:13px;
    a{width:100%;display:inline-block;text-align:center;line-height:0px;border:1px solid #241e20;padding:5px 10px;margin: 3px 0 7px 0;}
  }
  ul.payment-service{width:100%;display:inline-block;padding:0px;margin:24px 0 0 0px;
    li{width:100%;display:inline-block;font-size:12px;color:#6b6b6b;letter-spacing:1px;font-weight:400;margin:8px 0;
      .svg-ps{opacity: 1; fill: rgb(107, 107, 107); width: 24px; height: 24px;vertical-align: -6px;margin-right:10px;
        path{fill: rgb(107, 107, 107);}
      }
    }
  }	
}
.contact-form{width:100%;float:left;padding:20px 0;
  [type='submit']{width:100%;float:right;max-width:263px;line-height:24px;}
}
.svg-social{opacity: 1; fill:$PrimaryColor;width: 32px; height: 32px;
  path{fill:$PrimaryColor}
}
.contact_des{width:100%;float:left;padding:7px 0 0 0;
  figure{width:auto;float:left;}
  ul.contact_info{width:100%;display:inline-block;padding:18px 0 0 0;
    li{font-size:14px;color:$PrimaryColor;font-weight:400;line-height:28px;
      a{color:$PrimaryColor;}
    }
  }
  .contact_bottom_desc{width:100%;display:inline-block;padding-top:14px;
    p{font-size:12px;line-height:20px;letter-spacing:1px;}
  }
}
ul.social_icons{width:100%;display:inline-block;line-height:0px;padding:16px 0;border-bottom:1px solid #fff;
  li{float:left;
    a{display:inline-block;}
  }
}
.about-area{margin-top:-65px;background:$whiteColor;position:relative;z-index:2;}
.about-banner{margin-top:-32px;
  h1{color:#fff;text-transform:uppercase;font-weight:300;line-height:48px;letter-spacing:2px;}	
}
.wrap-title{width:100%;display:inline-block;margin-bottom:20px;
  h4{color:#241e20;text-transform:uppercase;letter-spacing:2px;font-weight:300;text-align:center;margin-bottom:20px;}
  p{text-align:center;color:#241e20;font-weight:700;font-style:italic;}
}
.register-page{display:table;
  >[class*="col-"]{float:none;display:table-cell;vertical-align:middle;}
  .middle-content{width:100%;max-width:635px;padding:0 15px;position:relative;z-index:2;}
  .register_area{background:url('../_assets/img/register-bg.jpg') no-repeat top left;background-size:cover;position:relative;
    &:before{content:'';@include widthHeight(100%,100%);background: rgb(180, 130, 83);opacity: 0.86;position:absolute;top:0px;left:0px;}	
  }
  .content-form{width:100%;float:left;max-width:468px;padding:106px 0;
    h4{font-weight:700;color:#fff;margin-bottom:32px;}
    .btn{font-weight:700;width:100%;}
    &.login-form{float:right;
      h4{color:$PrimaryColor;}
      button{width:258px;margin-right:20px;float:left}
      a{float:left;line-height:40px;font-size:12px;text-decoration:underline;}
    }
  }
}

/*---------------------------------
------//    Media Query    \------
---------------------------------*/

@media (max-width: 1499px) {
  .collection-item:hover figure figcaption .ci-detail .cd-btn{height: 46px;padding-top:14px;}
  .cart_wrap > ul .pro_img{width:20%;}
  .cart_wrap > ul .pro_Desc{width:80%}
  .register-page .content-form{float:none !important;padding:55px 0;}
}

@media (max-width: 1199px) {
  .whiteWrap,.lightGreyWrap{padding:35px 0; }
  .features-service{padding:10px 0;}
  .pro-content-desc{padding:0px;}
  .fluid-title{margin-top:10px;}
  .question-nav li{width:50%;}
  footer .footer-top-area .footer-widget{padding:30px 0 20px;
    .newsletter-widget form{padding-right:85px;
      button{width:85px;padding:8px 6px 6px;}
    }
  }
  header,footer, .breadcrumbs-wrap{
    .container{width:100%;}
  }
  .collection-item figure{overflow:hidden;height:210px;
    img{width:inherit;position:absolute;top:50%;left:50%;@include transformTXY(-50%,-50%);max-width:inherit;height:100%;}
    figcaption{max-width: 92%;bottom: 15px;left: 4%;padding: 15px 20px 15px 20px;
      .ci-detail{padding:0 0 0 15px;
        h4{font-size:20px;}
        p{font-size:14px;line-height:20px;}				
      }
    }
  }
  .block_desc p{margin-bottom:20px;max-width:100%;}
  .img-banner{height:400px;}
  .ib_content .ib_box{margin-top:20px;margin-bottom:0px;}
  .swatch-size{padding:10px 0 15px;}
  .product-quantity{padding-top:18px}
  .sticker-block h5,.block_desc h5{margin-bottom:14px;}
  ul.list-style.large li{font-size:15px;line-height:27px;}
  .fluid-area{padding-right:30px;}
  .cart_wrap>ul{
    .tt-product{width:62%;}		     
    .tt-total{width:16%;
      span{font-weight:600;}
    }
    div{font-size:16px;}
    .pro_img{width:25%;}
    .pro_Desc{width:75%;padding-left: 16px;}
  }
  ul.Homeslider li{height:500px;}
}

@media (max-width: 991px) {
  .question-nav li{width:auto;}
  .navbar-expand-toggle{display:block;}
  .construct-area {padding-left:0px;
    .site-logo{display:none;}
  }
  header {
    .container{padding:0px;}
    .topheader{border-bottom:0px;padding:5px 15px 3px 50px;
      .search-box{border-bottom:1px solid $PrimaryColor;}
    }
    .primary_nav{padding:10px 15px;background:#fff;
      .site-mob-logo{display:block;}
      nav.topbar-nav{display:none;}
      .shopping-cart {padding-top:3px;
        .cart-desc span{color:$PrimaryColor}
        .svg-icon{fill:$PrimaryColor;
          path{fill:$PrimaryColor;}
        }
      }
    }
  }
  .breadcrumbs-wrap ol.breadcrumb{padding-left:0px;}
  .features-service .el-circle{margin-bottom:30px;
    .fs-arrow{@include transformRotate(300deg);bottom: -46px;top: inherit;left: 0px;}
    &.prim_col {
      .fs-arrow{@include transformRotate(300deg);bottom: -46px;top: inherit;left: 0px;right:inherit}
      &:before{left:24px;}
    }
  }	
  .check-wrapper {padding: 2px 0 2px 50px;
    &:after {@include widthHeight(20px,20px);font-size: 8px;line-height: 20px;top: 8px;left: 8px;}
    &:before {@include widthHeight(36px,36px);}
  }	
  .made-wisconsin {
    p{line-height:24px;}
    h4{margin-bottom:8px}
    a.btn{margin-top:6px;}
  }
  .ib_content {max-width: 555px;padding: 20px 24px 20px 24px;}
  .fluid-area{padding-right:0px;}
  .register-page .content-form{max-width: 320px;
    &.login-form button{max-width:170px;}
  }
  ul.Homeslider li{height:400px;}
  .slide-caption .small-content{
	h4{padding-bottom:6px;}
	p {font-size: 14px;line-height: 21px;margin-bottom: 10px;}
  }
}
@media (max-width: 767px) {
  footer {
    .footer-top-area{
      .america-aca{text-align:center;}
      .fc-widget{display:inline-block;float:left;text-align:center;padding-bottom:20px;
        .footer-widget{padding:16px 0 0px;}
        h6{margin-bottom:2px;}
        ul.widget-nav li,.question-nav li{width:auto;float:none;display:inline-block;padding:8px;}
        ul.follow-nav li{float:none;display:inline-block;}
        &.col-md-4 .footer-widget{max-width:380px;margin:0 auto;float: none;}
      }
    }
    .copyright{padding:12px 0;text-align:center;
      ul.payment_method{width:100%;
        li{float:none;display:inline-block;}
      }		
    }
  }
  .blog-fluid .col-md-4:last-child .single-post{margin-bottom:0px;}
  p.lead{font-size:15px;line-height:24px;}
  p,.small-content p{line-height:21px;margin-bottom:12px;}
  h1 {font-size: 26px;}
  h2 {font-size: 26px;line-height:32px;}
  h3 {font-size: 24px;}
  h4 {font-size: 22px;}
  h5 {font-size: 18px;}
  h6 {font-size: 14px;}	
  .collection-item{max-width:640px;float:left;}
  .block_desc p{margin-bottom:14px;}
  .register-page{display:inline-block;
    > [class*="col-"]{float:left;display:inline-block;}
  }
  .register-page .content-form{max-width:480px;padding:35px 0;
    h4{margin-bottom:16px;}
  }
}

@media (max-width: 640px) {
  .cart_wrap{
    > ul {border-bottom:0px;		
      > li.CartItem{display:inline-block;padding:16px 0px 16px 0px;border-bottom:1px solid #eae7e5;}
      div{padding-left:0px;padding-right:0px;}
      .pro_img{display:none;}
      .pro_Desc{max-width:300px; position:static;top:inherit;@include transformTY(0);float:right}
      div span{width:auto;float:right;line-height: 32px;}
    }
    ul.shopCart li div:before{content: attr(data-label);width:50px; float: left; font-size: 14px;line-height: 32px;color: #1f1f1f;font-weight: 600;text-align:left;}
    .shopCart{
      .tt-product,.tt-name,.tt-qty,.tt-price,.tt-total,.tt-close,.tt-remove{width:100%;display:block;float:right;text-align:right;}

      .tt-name p a{text-transform:uppercase;font-size:14px;}
      .tt-remove{position:static;top:inherit;@include transformTY(0);float:right;
        a.remove{margin-top:4px;}
      }
    }
    ul.QuantityBox{float:right;}
    .cart-footer {
      .shippingOption{padding-bottom:18px;}
      .opt-total-container ul {margin:10px 0 20px 0;
        li{line-height:28px;
          .total-price{font-size:24px;}
        }
      }
    }
  }
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
    margin-bottom:12px;padding:6px 12px;
  }
  textarea {height: 110px;}
  ul.list-style li{line-height:21px;margin-bottom:12px;}
  ul.Homeslider ul.slick-dots{bottom:16px;}
}
@media (max-width: 567px) {
  .block_quote{padding-left:16px;}
  .product-quantity{padding-top:10px;}
  .swatch-size{padding:4px 0 10px 0;	
    ul.pro_size li{padding:0 5px;			
      a{min-width:60px;}		 
    }	
  }
  [type='submit'], button{font-size:14px;letter-spacing:1px;}
  .ib_content .ib_box{padding: 15px 16px 15px 16px;margin-top:0px;}
  .ib_content{padding: 15px 16px 12px 16px;}
  .product-quantity .CartItem{margin-top:6px;padding-left:120px;
    ul.QuantityBox{max-width:110px;}
  }
  .img-banner {height: 350px;}
  .wrap-title h4	{letter-spacing:1px;margin-bottom:14px;}
}

@media (max-width: 479px) {
  header .topheader ul.lang-nav li {margin:0 6px;
    a.btn-search {font-size:0px;}
  }
  .app-container .content-container .side-menu,.cart-side-panel{width:100%}
  .made-wisconsin{padding:45px 0 50px;}
  .contact-form [type='submit']{max-width:100%; }
}
@media (max-width: 374px) {
  .register-page .content-form.login-form button{max-width:100%;margin-right:0px;width:100%; }
}