/*------------------------------------------------------------------
[Screen Stylesheet]

Project:	SFS 
Version:	1.1
Start Work: 25/04/2018
Last change:	25/04/2018 [fixed Float bug, vf]

-------------------------------------------------------------------*/
@media (min-width: 1430px) {
  /* line 62, ../sass/screen.scss */
  .container {
    width: 1370px;
  }
}
/* line 64, ../sass/screen.scss */
.WFwrap {
  width: 100%;
  float: left;
}

/* line 65, ../sass/screen.scss */
.large-content {
  width: 100%;
  display: block;
  max-width: 1132px;
}

/* line 66, ../sass/screen.scss */
.medium-content {
  width: 100%;
  display: block;
  max-width: 1041px;
}

/* line 67, ../sass/screen.scss */
.small-content {
  width: 100%;
  display: block;
  max-width: 875px;
}
/* line 68, ../sass/screen.scss */
.small-content h4 {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
/* line 69, ../sass/screen.scss */
.small-content p {
  line-height: 26px;
  margin-bottom: 24px;
}

/* =====//   Global Css Style   \===== */
/* line 74, ../sass/screen.scss */
* {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  outline: none !important;
  text-decoration: none;
}

/* line 76, ../sass/screen.scss */
body {
  background-color: #fff;
  line-height: 24px;
}

/* line 77, ../sass/screen.scss */
body, p {
  font-family: "Muli", sans-serif;
  color: #363636;
  font-size: 14px;
}

/* line 78, ../sass/screen.scss */
p {
  line-height: 24px;
  font-weight: 400;
}

/* line 79, ../sass/screen.scss */
p.lead {
  font-size: 16px;
  line-height: 32px;
  color: #6b6b6b;
  font-weight: 400;
}

/* line 80, ../sass/screen.scss */
.img-responsive {
  max-width: 100%;
}

/* line 81, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, .system-message h1, .system-error-message h1 {
  margin-bottom: 1.25rem;
}

/* line 82, ../sass/screen.scss */
a {
  color: #054c69;
  font-family: "Muli", sans-serif;
  outline: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transform: all 300ms ease-in-out;
}

/* line 83, ../sass/screen.scss */
a:hover, a:focus, a:active {
  text-decoration: none;
}

/* line 84, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #054c69;
  line-height: normal;
  font-family: "Muli", sans-serif;
  margin-top: 0px;
}

/* line 85, ../sass/screen.scss */
a:focus {
  color: #054c69;
}

/* line 86, ../sass/screen.scss */
h1 {
  font-size: 32px;
}

/* line 87, ../sass/screen.scss */
h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
}

/* line 88, ../sass/screen.scss */
h3 {
  font-size: 28px;
}

/* line 89, ../sass/screen.scss */
h4 {
  font-size: 24px;
}

/* line 90, ../sass/screen.scss */
h5 {
  font-size: 20px;
}

/* line 91, ../sass/screen.scss */
h6 {
  font-size: 16px;
}

/* line 93, ../sass/screen.scss */
ol, ul {
  margin: 0px;
}

/* line 95, ../sass/screen.scss */
figure {
  margin: 0px;
}

/* line 96, ../sass/screen.scss */
em {
  font-style: normal;
}

/* line 98, ../sass/screen.scss */
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  width: 100%;
  background-color: #fff;
  border: 1px solid #054c69;
  box-shadow: none;
  font-size: 14px;
  color: #241e20;
  font-family: "Muli", sans-serif;
  line-height: 20px;
  padding: 9px 15px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin-bottom: 20px;
}

/* line 100, ../sass/screen.scss */
[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
  box-shadow: none;
}

/* line 101, ../sass/screen.scss */
label {
  font-size: 16.64px;
  font-family: "Muli", sans-serif;
  color: #6D6E70;
}

/* line 102, ../sass/screen.scss */
textarea {
  height: 165px;
}

/* line 104, ../sass/screen.scss */
[type='submit'], button {
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  padding: 8px 30px;
  margin-bottom: 0;
  text-transform: uppercase;
  border: none;
  background: #b48253;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  letter-spacing: 2px;
}
/* line 105, ../sass/screen.scss */
[type='submit'].small, button.small {
  font-size: 12px;
  padding: 8px 18px 6px 18px;
  line-height: 16px;
  letter-spacing: 1px;
}

/* line 108, ../sass/screen.scss */
select, select.form-control {
  background: #fbfbfb url(../_assets/img/select-arrow.png) no-repeat center right;
  background-size: inherit;
  width: 100%;
  border: 1px solid #edeff1;
  box-shadow: none;
  font-size: 15px;
  color: #9f9f9f;
  font-family: "Muli", sans-serif;
  line-height: 21px;
  padding: 12px 12px;
  border-radius: 0;
  margin-bottom: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* line 110, ../sass/screen.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 111, ../sass/screen.scss */
select::-ms-expand {
  display: none;
}

/* line 113, ../sass/screen.scss */
.form_select select, .form_select select.form-control {
  background: #fff url(../assets/select-arrow-01.jpg) no-repeat top right;
  background-size: contain;
}

/* line 114, ../sass/screen.scss */
.text-left {
  text-align: left;
}

/* line 115, ../sass/screen.scss */
.text-right {
  text-align: right;
}

/* line 117, ../sass/screen.scss */
.Wrap5 {
  margin-left: -5px;
  margin-right: -5px;
}
/* line 118, ../sass/screen.scss */
.Wrap5 .ST_Grid {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 120, ../sass/screen.scss */
.Wrap8 {
  margin-left: -8px;
  margin-right: -8px;
}
/* line 121, ../sass/screen.scss */
.Wrap8 .ST_Grid {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 124, ../sass/screen.scss */
.Wrap10 {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 125, ../sass/screen.scss */
.Wrap10 .ST_Grid {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 127, ../sass/screen.scss */
.Wrap12 {
  margin-left: -12px;
  margin-right: -12px;
}
/* line 128, ../sass/screen.scss */
.Wrap12 .ST_Grid {
  padding-left: 12px;
  padding-right: 12px;
}

/* line 131, ../sass/screen.scss */
.left {
  float: left;
}

/* line 132, ../sass/screen.scss */
.right {
  float: right;
}

/* line 133, ../sass/screen.scss */
.p0 {
  padding: 0px;
}

/* line 135, ../sass/screen.scss */
.whiteWrap {
  background: #fff;
  padding: 45px 0;
}

/* line 136, ../sass/screen.scss */
.lightGreyWrap {
  background: #f0f6fa;
  padding: 45px 0;
}

/* line 137, ../sass/screen.scss */
.svg-icon {
  opacity: 1;
  fill: #fff;
}
/* line 138, ../sass/screen.scss */
.svg-icon path {
  fill: #fff;
}

/* line 140, ../sass/screen.scss */
.svg-close {
  opacity: 1;
  fill: #6b6b6b;
  width: 20px;
  height: 20px;
}
/* line 141, ../sass/screen.scss */
.svg-close path {
  fill: #6b6b6b;
}

/* line 144, ../sass/screen.scss */
.svg-rss {
  opacity: 1;
  fill: #054c69;
  width: 17px;
  height: 17px;
}
/* line 145, ../sass/screen.scss */
.svg-rss path {
  fill: #054c69;
}

/* line 148, ../sass/screen.scss */
.socialicon {
  opacity: 1;
  fill: white;
  width: 22px;
  height: 22px;
}
/* line 149, ../sass/screen.scss */
.socialicon path {
  fill: white;
}

/* =====//   Header   \===== */
/* line 155, ../sass/screen.scss */
.construct-area {
  position: relative;
  padding-left: 199px;
}
/* line 156, ../sass/screen.scss */
.construct-area .site-logo {
  width: 100%;
  max-width: 180px;
  float: left;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transform: all 400ms ease-in-out;
  background: #fff;
  line-height: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 157, ../sass/screen.scss */
.construct-area .site-logo a {
  display: inline-block;
  font-size: 0px;
  line-height: 0px;
  padding: 14px 13px 18px 20px;
}
/* line 158, ../sass/screen.scss */
.construct-area .site-logo a img {
  display: inline-block;
}

/* line 163, ../sass/screen.scss */
header {
  width: 100%;
  float: left;
  background: #054c69;
  text-align: center;
  position: relative;
  z-index: 99;
}
/* line 164, ../sass/screen.scss */
header .topheader {
  border-bottom: 2px solid #fff;
  padding: 3px 0 5px 0;
  position: relative;
}
/* line 165, ../sass/screen.scss */
header .topheader ul.lang-nav {
  width: 100%;
  float: left;
}
/* line 166, ../sass/screen.scss */
header .topheader ul.lang-nav li {
  float: left;
  position: relative;
  margin: 0 10px;
}
/* line 167, ../sass/screen.scss */
header .topheader ul.lang-nav li a {
  font-size: 12px;
  color: #fff;
  position: relative;
  display: inline-block;
}
/* line 168, ../sass/screen.scss */
header .topheader ul.lang-nav li a .down-icon {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  display: inline-block;
  margin-left: 5px;
  vertical-align: 1px;
}
/* line 169, ../sass/screen.scss */
header .topheader ul.lang-nav li a .svg-icon {
  width: 18px;
  height: 18px;
  vertical-align: -5px;
  margin-right: 6px;
}
/* line 170, ../sass/screen.scss */
header .topheader ul.lang-nav li a i {
  margin: 0 4px 0 2px;
  font-weight: 300;
  display: inline-block;
}
/* line 172, ../sass/screen.scss */
header .topheader ul.lang-nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: none;
  min-width: 115px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  text-align: left;
}
/* line 173, ../sass/screen.scss */
header .topheader ul.lang-nav li ul li {
  width: 100%;
  display: inline-block;
  padding: 0px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0px;
}
/* line 174, ../sass/screen.scss */
header .topheader ul.lang-nav li ul li a {
  font-size: 12px;
  color: #111;
  padding: 5px 15px;
  display: block;
  line-height: 20px;
  text-transform: uppercase;
}
/* line 177, ../sass/screen.scss */
header .topheader ul.lang-nav li:first-child {
  margin-left: 0px;
}
/* line 178, ../sass/screen.scss */
header .topheader ul.lang-nav li:last-child {
  margin-right: 0px;
}
/* line 179, ../sass/screen.scss */
header .topheader ul.lang-nav li:hover ul {
  display: block;
}
/* line 182, ../sass/screen.scss */
header .topheader .search-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #fff;
  padding: 0px;
  display: none;
  z-index: 11;
}
/* line 183, ../sass/screen.scss */
header .topheader .search-box form {
  width: 100%;
  display: block;
  max-width: 85%;
  position: relative;
  margin: 0 auto;
}
/* line 184, ../sass/screen.scss */
header .topheader .search-box form input {
  margin-bottom: 0px;
  border: 0px;
  font-size: 14px;
  color: #054c69;
  line-height: 21px;
  padding: 7px 0;
  background: transparent;
  box-shadow: none;
}
/* line 185, ../sass/screen.scss */
header .topheader .search-box form .btn-close-search {
  width: 35px;
  height: 100%;
  font-size: 18px;
  color: #182d4a;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  line-height: 0;
  padding-top: 8px;
}
/* line 188, ../sass/screen.scss */
header .topheader.opensearch .search-box {
  display: block;
}
/* line 190, ../sass/screen.scss */
header .primary_nav {
  width: 100%;
  float: left;
  line-height: 0px;
  padding: 10px 0;
}
/* line 191, ../sass/screen.scss */
header .primary_nav .site-mob-logo {
  display: none;
  width: 200px;
  float: left;
}
/* line 192, ../sass/screen.scss */
header .primary_nav nav.topbar-nav {
  width: auto;
  float: left;
  text-align: center;
  line-height: 0px;
  padding: 0;
}
/* line 193, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar {
  width: auto;
  display: inline-block;
  min-height: inherit;
  border: none;
  position: static;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transform: all 0.4s ease-in-out;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin: 0px;
}
/* line 194, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item {
  float: left;
  padding: 0px;
  margin: 0 19px;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transform: all 0.4s ease-in-out;
}
/* line 195, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item:first-child {
  margin-left: 0px;
}
/* line 196, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item:last-child {
  margin-right: 0px;
}
/* line 197, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item > a {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  padding: 2px 0;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
/* line 198, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item > a em {
  margin-left: 6px;
}
/* line 199, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item > a:after {
  content: '';
  width: 0%;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transform: all 0.25s ease-in-out;
}
/* line 201, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item .submenu {
  width: 185px;
  background: #fff;
  display: block;
  z-index: 499;
  padding: 19px 28px 24px 28px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.26);
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transform: all 0.25s ease-in-out;
  text-align: left;
}
/* line 202, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item .submenu:before {
  content: '';
  width: 100%;
  height: 10px;
  background: transparent;
  position: absolute;
  top: -10px;
  left: 0px;
}
/* line 204, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item .submenu li {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transform: all 0.25s ease-in-out;
}
/* line 205, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item .submenu li a {
  font-size: 12px;
  color: #054c69;
  font-family: "Muli", sans-serif;
  display: block;
  line-height: 20px;
  padding: 4px 0 0px 0px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transform: all 0.25s ease-in-out;
}
/* line 206, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item .submenu li:hover {
  padding-left: 8px;
}
/* line 206, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item .submenu li:hover > a {
  color: #054c69;
}
/* line 210, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item ul.submenu li {
  position: relative;
}
/* line 211, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item ul.submenu li .submenu {
  top: 0;
  left: 100%;
}
/* line 212, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item ul.submenu li:hover > .submenu {
  opacity: 1;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  visibility: visible;
}
/* line 216, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item:hover.nb-sub-nav a:after {
  opacity: 1;
}
/* line 217, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item:hover > .submenu {
  opacity: 1;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  visibility: visible;
}
/* line 221, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item.twoColMenu h6 {
  font-size: 14px;
  color: #b48253;
  margin: 5px 0 10px 0;
}
/* line 222, ../sass/screen.scss */
header .primary_nav nav.topbar-nav ul.navbar li.menu-item.twoColMenu .submenu {
  width: 423px;
}
/* line 227, ../sass/screen.scss */
header .primary_nav .shopping-cart {
  width: auto;
  float: right;
  position: relative;
}
/* line 228, ../sass/screen.scss */
header .primary_nav .shopping-cart a {
  display: inline-block;
}
/* line 229, ../sass/screen.scss */
header .primary_nav .shopping-cart .svg-icon {
  width: 27px;
  height: 27px;
}
/* line 230, ../sass/screen.scss */
header .primary_nav .shopping-cart .cart-desc {
  width: auto;
  float: left;
  padding-right: 10px;
  text-align: right;
}
/* line 231, ../sass/screen.scss */
header .primary_nav .shopping-cart .cart-desc span {
  font-size: 9px;
  color: #fff;
  display: block;
  line-height: 14px;
}
/* line 232, ../sass/screen.scss */
header .primary_nav .shopping-cart .cart-desc span.title {
  font-size: 14px;
}

/* line 238, ../sass/screen.scss */
.navbar-expand-toggle {
  display: none;
  width: 30px;
  height: 30px;
  padding: 14px 4px;
  float: left;
  position: absolute;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  background: transparent;
  top: 3px;
  left: 10px;
  z-index: 11;
}
/* line 239, ../sass/screen.scss */
.navbar-expand-toggle span {
  height: 2px;
  width: 100%;
  float: left;
  background: #fff;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  position: relative;
  line-height: 0px;
  top: 0px;
}
/* line 240, ../sass/screen.scss */
.navbar-expand-toggle span:after, .navbar-expand-toggle span:before {
  content: '';
  width: 100%;
  height: 2px;
  display: inline-block;
  background: #fff;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  position: absolute;
  left: 0px;
}
/* line 241, ../sass/screen.scss */
.navbar-expand-toggle span:before {
  top: -7px;
}
/* line 242, ../sass/screen.scss */
.navbar-expand-toggle span:after {
  bottom: -7px;
}

/* =====//   Sidebar Menu   \===== */
/* line 248, ../sass/screen.scss */
.app-container {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  float: left;
}
/* line 249, ../sass/screen.scss */
.app-container .content-container {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  float: left;
}
/* line 250, ../sass/screen.scss */
.app-container .content-container .side-menu {
  overflow-y: auto;
  z-index: 100000;
  position: fixed;
  top: 0px;
  width: 380px;
  max-width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  border-right: 1px solid #e9e9e9;
  background: #fff;
}
/* line 251, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default {
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
/* line 252, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default .navbar-header {
  width: 100%;
  padding: 24px 20px 24px 24px;
}
/* line 253, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default .navbar-header .logo {
  width: auto;
  float: left;
}
/* line 254, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default .navbar-header button.close-nav {
  width: 25px;
  height: 25px;
  float: right;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0px;
  overflow: hidden;
  position: relative;
}
/* line 255, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default .navbar-header button.close-nav::before, .app-container .content-container .side-menu .navbar-default .navbar-header button.close-nav::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #054c69;
  margin-top: -1px;
}
/* line 256, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default .navbar-header button.close-nav::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
/* line 257, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default .navbar-header button.close-nav::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
/* line 260, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu {
  width: 100%;
  display: inline-block;
  padding: 10px 0 16px 0;
  position: relative;
  z-index: 2;
}
/* line 261, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu .active > .has-arrow::after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 263, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu li a {
  font-size: 16px;
  line-height: 24px;
  color: #054c69;
  padding: 9px 20px 9px 24px;
  display: block;
  cursor: pointer;
  text-transform: capitalize;
}
/* line 264, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu li ul {
  margin-bottom: 0px;
  padding: 0px 0;
  background-color: #f2f2f2;
}
/* line 265, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu li ul li {
  padding-left: 16px;
}
/* line 266, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu li ul li a {
  font-size: 14px;
  line-height: 24px;
}
/* line 267, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu li ul li ul {
  margin-bottom: 0px;
}
/* line 274, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu.account-nav > li > a {
  font-size1: 16px;
  color: #b48253;
  font-family: "Muli", sans-serif;
}
/* line 275, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu.account-nav > li ul {
  background: #fff;
}
/* line 275, ../sass/screen.scss */
.app-container .content-container .side-menu .navbar-default ul.metismenu.account-nav > li ul li {
  padding-left: 0px;
}
/* line 279, ../sass/screen.scss */
.app-container .content-container .side-menu .bottom-side-panel {
  width: 100%;
  display: inline-block;
  padding: 26px 20px 26px 24px;
}
/* line 280, ../sass/screen.scss */
.app-container .content-container .side-menu .bottom-side-panel ul.side-info {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #f0f6fa;
  padding-bottom: 20px;
  margin-bottom: 12px;
}
/* line 281, ../sass/screen.scss */
.app-container .content-container .side-menu .bottom-side-panel ul.side-info li {
  display: block;
  position: relative;
  padding: 6px 0 6px 30px;
  margin: 4px 0;
}
/* line 282, ../sass/screen.scss */
.app-container .content-container .side-menu .bottom-side-panel ul.side-info li svg {
  width: 18px;
  height: 18px;
  fill: #054c69;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
}
/* line 283, ../sass/screen.scss */
.app-container .content-container .side-menu .bottom-side-panel ul.side-info li svg path {
  fill: #054c69;
}
/* line 285, ../sass/screen.scss */
.app-container .content-container .side-menu .bottom-side-panel ul.side-info li a {
  font-size: 16px;
}
/* line 289, ../sass/screen.scss */
.app-container .content-container .side-menu .bottom-side-panel p {
  font-size: 12px;
  margin-bottom: 0px;
}
/* line 292, ../sass/screen.scss */
.app-container .content-container .container-fluid {
  padding: 0px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  text-align: center;
}
/* line 293, ../sass/screen.scss */
.app-container .content-container .container-fluid .side-body {
  width: 100%;
  display: block;
  background: #fff;
  text-align: left;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  position: relative;
}
/* line 294, ../sass/screen.scss */
.app-container .content-container .container-fluid .side-body.openmenu:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(28, 56, 77, 0.7);
  z-index: 99;
}
/* line 300, ../sass/screen.scss */
.app-container.expanded .content-container .side-menu {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}
/* line 301, ../sass/screen.scss */
.app-container.expanded .content-container .container-fluid {
  padding: 0px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}
/* line 303, ../sass/screen.scss */
.app-container.expanded:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

/* =====//   Cart Sidebar   \===== */
/* line 309, ../sass/screen.scss */
.cart-side-panel {
  width: 380px;
  max-width: 100%;
  overflow-y: auto;
  z-index: 100000;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transform: all 400ms ease-in-out;
  background: #fff;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
}
/* line 310, ../sass/screen.scss */
.cart-side-panel .cart-container {
  width: 100%;
  float: left;
  padding: 0 22px;
}
/* line 311, ../sass/screen.scss */
.cart-side-panel .block-cart-header {
  width: 100%;
  float: left;
}
/* line 312, ../sass/screen.scss */
.cart-side-panel .block-cart-header a.cart-close {
  display: inline-block;
  margin: 2px 0px 2px 15px;
  float: right;
}
/* line 313, ../sass/screen.scss */
.cart-side-panel .block-cart-header a.cart-close .svg-close {
  width: 28px;
  height: 28px;
}
/* line 315, ../sass/screen.scss */
.cart-side-panel .block-cart-header h4 {
  font-size: 22px;
  color: #b48253;
  font-weight: 700;
  margin: 15px 0px;
  line-height: 43px;
}
/* line 316, ../sass/screen.scss */
.cart-side-panel .block-cart-header h6 {
  font-size: 14px;
  color: #57595c;
  line-height: 22px;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #ededed;
  padding: 12px 0;
  margin: 0px;
}
/* line 318, ../sass/screen.scss */
.cart-side-panel .cart-middle-items {
  width: 100%;
  float: left;
  padding: 7px 0;
  overflow: auto;
}
/* line 319, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row {
  width: 100%;
  float: left;
  position: relative;
  margin: 15px 0;
}
/* line 320, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-left {
  width: 25%;
  float: left;
  border: 2px solid #eae7e5;
}
/* line 321, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-left a {
  padding: 0px;
  display: inline-block;
}
/* line 322, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-left a img {
  display: inline-block;
  max-width: 100%;
}
/* line 325, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-right {
  width: 75%;
  float: left;
  padding: 0 0 0 20px;
}
/* line 326, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-right .cart-title {
  width: 100%;
  float: left;
  min-height: 42px;
  padding-right: 24px;
  margin-bottom: 3px;
}
/* line 327, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-right .cart-title a {
  font-size: 14px;
  color: #054c69;
  line-height: normal;
  padding: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* line 328, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-right .cart-title a:hover {
  color: #b48253;
  text-decoration: none;
}
/* line 332, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-price {
  width: auto;
  float: right;
  padding: 10px 0;
}
/* line 333, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .cart-price span {
  font-size: 16px;
  color: #054c69;
  display: block;
  line-height: 20px;
}
/* line 335, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .QuantityBox {
  max-width: 125px;
}
/* line 336, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row .icon-close {
  line-height: 0px;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 337, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .items_row:first-child {
  border-top: 0px;
}
/* line 339, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .functionCart {
  width: 100%;
  float: left;
  padding: 20px 0 10px 0;
}
/* line 340, ../sass/screen.scss */
.cart-side-panel .cart-middle-items .functionCart textarea {
  height: 120px;
  background: #f9f9f9;
  color: #98999a;
  font-size: 16px;
  font-family: "Muli", sans-serif;
  margin-bottom: 0px;
}
/* line 343, ../sass/screen.scss */
.cart-side-panel .block-cart-footer {
  width: 100%;
  float: left;
}
/* line 344, ../sass/screen.scss */
.cart-side-panel .block-cart-footer .subtotal {
  width: 100%;
  float: left;
  padding: 22px 0 8px;
  border-top: 1px solid #ededed;
}
/* line 345, ../sass/screen.scss */
.cart-side-panel .block-cart-footer .subtotal span {
  font-size: 22px;
  color: #b48253;
  font-weight: 400;
  line-height: 35px;
  float: left;
  font-family: "Muli", sans-serif;
  text-transform: capitalize;
}
/* line 346, ../sass/screen.scss */
.cart-side-panel .block-cart-footer .subtotal span.money {
  font-family: "Muli", sans-serif;
  padding-left: 12px;
  float: right;
}
/* line 347, ../sass/screen.scss */
.cart-side-panel .block-cart-footer .subtotal p {
  width: 100%;
  float: left;
  font-size: 15px;
  color: #797979;
  padding-top: 8px;
  margin-bottom: 0px;
  text-align: center;
}
/* line 349, ../sass/screen.scss */
.cart-side-panel .block-cart-footer .cart-btn {
  width: 100%;
  float: left;
  padding: 6px 0 20px 0;
}
/* line 350, ../sass/screen.scss */
.cart-side-panel .block-cart-footer .cart-btn .btn {
  width: 100%;
}
/* line 351, ../sass/screen.scss */
.cart-side-panel .block-cart-footer .cart-btn .btn em {
  font-size: 12px;
  margin-left: 8px;
}

/* line 356, ../sass/screen.scss */
.CartOpen {
  position: relative;
  overflow: hidden;
}
/* line 357, ../sass/screen.scss */
.CartOpen:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
/* line 358, ../sass/screen.scss */
.CartOpen .cart-side-panel {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}

/* line 360, ../sass/screen.scss */
ul.QuantityBox {
  width: 100%;
  float: left;
  max-width: 157px;
  margin: 0px;
  background: #fff;
  border: 2px solid #f0f6fa;
  padding: 2px 0;
}
/* line 361, ../sass/screen.scss */
ul.QuantityBox li {
  width: 33.33333%;
  height: 32px;
  float: left;
  text-align: center;
  padding: 0px;
  border-bottom: 0px;
  padding: 0px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #f0f6fa;
}
/* line 362, ../sass/screen.scss */
ul.QuantityBox li.input-box input {
  font-size: 16px;
  color: #054c69;
  Margin: 0px;
  padding: 6px 5px;
  text-align: center;
  line-height: 20px;
  background: transparent;
  border: none;
  font-weight: 700;
}
/* line 363, ../sass/screen.scss */
ul.QuantityBox li a {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #054c69;
  padding: 6px 5px;
  margin: 0px;
  border: none;
  display: block;
  line-height: 20px;
  font-weight: 700;
}
/* line 364, ../sass/screen.scss */
ul.QuantityBox li:first-child {
  border-left-width: 0px;
}
/* line 365, ../sass/screen.scss */
ul.QuantityBox li:last-child {
  border-right-width: 0px;
}

/* =====//   Button slider   \===== */
/* line 371, ../sass/screen.scss */
.btn {
  font-size: 16px;
  color: #054c69;
  line-height: 26px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  padding: 7px 30px;
  margin-bottom: 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transform: all 0.5s ease-in-out;
  letter-spacing: 2px;
}
/* line 372, ../sass/screen.scss */
.btn.btn-primary {
  background: #b48253;
  color: #fff;
}
/* line 373, ../sass/screen.scss */
.btn.btn-primary:hover {
  background: #054c69;
  color: #fff;
}
/* line 375, ../sass/screen.scss */
.btn.btn-secondary {
  background: #054c69;
  color: #fff;
}
/* line 376, ../sass/screen.scss */
.btn.btn-secondary:hover {
  background: #b48253;
  color: #fff;
}
/* line 378, ../sass/screen.scss */
.btn.btn-default {
  background: #fff;
  color: #b48253;
}
/* line 379, ../sass/screen.scss */
.btn.btn-default:hover {
  color: #fff;
  background: #b48253;
}
/* line 381, ../sass/screen.scss */
.btn.btn-round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
/* line 382, ../sass/screen.scss */
.btn.small {
  font-size: 12px;
  padding: 9px 25px 7px 25px;
  line-height: 16px;
  letter-spacing: 1px;
  min-width: 200px;
}
/* line 383, ../sass/screen.scss */
.btn.btn-border {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
/* line 384, ../sass/screen.scss */
.btn.btn-border:hover {
  background: #fff;
  color: #054c69;
}
/* line 385, ../sass/screen.scss */
.btn.btn-border.btn-primary {
  border-color: #b48253;
  color: #b48253;
}
/* line 386, ../sass/screen.scss */
.btn.btn-border.btn-primary:hover {
  background: #b48253;
  color: #fff;
}

/* =====//   Home slider   \===== */
/* line 393, ../sass/screen.scss */
ul.Homeslider {
  margin-top: -80px;
}
/* line 394, ../sass/screen.scss */
ul.Homeslider li {
  position: relative;
  height: 700px;
}
/* line 395, ../sass/screen.scss */
ul.Homeslider li img {
  width: 100%;
}
/* line 396, ../sass/screen.scss */
ul.Homeslider li .desctop-img {
  display: block;
}
/* line 397, ../sass/screen.scss */
ul.Homeslider li .mobile-img {
  display: none;
}
/* line 398, ../sass/screen.scss */
ul.Homeslider li:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 2%, rgba(0, 0, 0, 0.2) 102%);
}
/* line 400, ../sass/screen.scss */
ul.Homeslider .slick-next, ul.Homeslider .slick-prev {
  width: 75px;
  height: 75px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transform: all 0.4s ease-in-out;
  border: 3px solid #054c69;
  opacity: 0.5;
}
/* line 401, ../sass/screen.scss */
ul.Homeslider .slick-next:before, ul.Homeslider .slick-prev:before {
  font-size: 30px;
  line-height: 68px;
  color: #b48253;
  opacity: 1;
  width: 70px;
  height: 100%;
  font-weight: 500;
}
/* line 402, ../sass/screen.scss */
ul.Homeslider .slick-next:hover, ul.Homeslider .slick-prev:hover {
  opacity: 1;
  background: #fff;
  border-color: #fff;
}
/* line 404, ../sass/screen.scss */
ul.Homeslider .slick-next:before {
  float: left;
}
/* line 405, ../sass/screen.scss */
ul.Homeslider .slick-prev:before {
  float: right;
}
/* line 406, ../sass/screen.scss */
ul.Homeslider ul.slick-dots {
  bottom: 40px;
}
/* line 407, ../sass/screen.scss */
ul.Homeslider ul.slick-dots li {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: auto;
}
/* line 408, ../sass/screen.scss */
ul.Homeslider ul.slick-dots li button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #fff;
}
/* line 409, ../sass/screen.scss */
ul.Homeslider ul.slick-dots li button:before {
  color: transparent;
}
/* line 411, ../sass/screen.scss */
ul.Homeslider ul.slick-dots li:after {
  display: none !important;
}
/* line 412, ../sass/screen.scss */
ul.Homeslider ul.slick-dots li.slick-active button {
  background: #054c69;
}

/* line 416, ../sass/screen.scss */
.slide-caption {
  width: 100%;
  height: auto;
  position: absolute;
  top: 59%;
  left: 0px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 11;
}
/* line 417, ../sass/screen.scss */
.slide-caption .small-content {
  width: 100%;
  float: left;
  max-width: 405px;
}
/* line 418, ../sass/screen.scss */
.slide-caption .small-content h4 {
  color: #fff;
  margin: 0px 0 14px 0;
  line-height: 30px;
  position: relative;
  padding-bottom: 21px;
}
/* line 419, ../sass/screen.scss */
.slide-caption .small-content h4:before {
  content: '';
  width: 100px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/* line 421, ../sass/screen.scss */
.slide-caption .small-content p {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  margin-bottom: 22px;
}
/* line 422, ../sass/screen.scss */
.slide-caption .small-content a.btn {
  margin-top: 5px;
  min-width: 180px;
}

/* =====//   Service   \===== */
/* line 428, ../sass/screen.scss */
.features-service {
  width: 100%;
  float: left;
  padding: 26px 0;
}
/* line 429, ../sass/screen.scss */
.features-service h2 {
  margin-bottom: 20px;
}
/* line 430, ../sass/screen.scss */
.features-service .el-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  display: block;
  margin: 0 auto;
}
/* line 431, ../sass/screen.scss */
.features-service .el-circle img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  z-index: 2;
}
/* line 432, ../sass/screen.scss */
.features-service .el-circle:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 16px;
  left: 24px;
  background: #b48253;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 433, ../sass/screen.scss */
.features-service .el-circle .fs-arrow {
  font-size: 100px;
  color: #b48253;
  line-height: normal;
  font-weight: 800;
  position: absolute;
  top: 0px;
  left: -52px;
  z-index: 3;
}
/* line 435, ../sass/screen.scss */
.features-service .el-circle.prim_col:before {
  background: #054c69;
  top: 16px;
  left: -24px;
}
/* line 436, ../sass/screen.scss */
.features-service .el-circle.prim_col .fs-arrow {
  color: #054c69;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  left: inherit;
  right: -42px;
  top: 20px;
}

/* line 440, ../sass/screen.scss */
.check-wrapper {
  width: 100%;
  float: left;
  position: relative;
  padding: 2px 0 2px 72px;
}
/* line 441, ../sass/screen.scss */
.check-wrapper h6 {
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  color: #6b6b6b;
  margin-bottom: 2px;
}
/* line 442, ../sass/screen.scss */
.check-wrapper:before, .check-wrapper:after {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* line 443, ../sass/screen.scss */
.check-wrapper:before {
  content: '';
  width: 50px;
  height: 50px;
  background: #f0f6fa;
  top: 0px;
  left: 0px;
}
/* line 444, ../sass/screen.scss */
.check-wrapper:after {
  width: 28px;
  height: 28px;
  font-size: 12px;
  color: #fff;
  line-height: 28px;
  content: "\e90a";
  font-family: 'icomoon';
  text-align: center;
  background: #054c69;
  top: 11px;
  left: 11px;
}

/* line 446, ../sass/screen.scss */
.cw-btn {
  padding: 6px 0 0px 72px;
}

/* line 447, ../sass/screen.scss */
.lightGreyWrap .check-wrapper:before {
  background: #fff;
}

/* line 448, ../sass/screen.scss */
ul.list-style {
  padding-bottom: 20px;
  padding-left: 15px;
}
/* line 449, ../sass/screen.scss */
ul.list-style li {
  font-size: 14px;
  color: #363636;
  line-height: 24px;
  list-style: disc;
}
/* line 450, ../sass/screen.scss */
ul.list-style.white-text li {
  color: #fff;
  font-weight: 700;
}
/* line 451, ../sass/screen.scss */
ul.list-style.large li {
  font-size: 16px;
  line-height: 32px;
}

/* line 453, ../sass/screen.scss */
.made-wisconsin {
  padding: 63px 0 73px 0;
  background: #000 url("../_assets/img/samuel-schneider.jpg") no-repeat top right;
}
/* line 454, ../sass/screen.scss */
.made-wisconsin h4 {
  color: #fff;
  margin-bottom: 16px;
}
/* line 455, ../sass/screen.scss */
.made-wisconsin p {
  color: #fff;
  line-height: 32px;
}
/* line 456, ../sass/screen.scss */
.made-wisconsin a.btn {
  margin-top: 14px;
}

/* line 459, ../sass/screen.scss */
.fluid-title {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #054c69;
  margin-bottom: 17px;
  margin-top: 20px;
}
/* line 460, ../sass/screen.scss */
.fluid-title h5 {
  color: #054c69;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 8px;
}

/* =====//   Blog   \===== */
/* line 466, ../sass/screen.scss */
.single-post {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 20px;
}
/* line 467, ../sass/screen.scss */
.single-post figure {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 468, ../sass/screen.scss */
.single-post figure a {
  position: relative;
  display: block;
}
/* line 469, ../sass/screen.scss */
.single-post figure a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #054c69;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transform: all 0.4s ease-in-out;
}
/* line 470, ../sass/screen.scss */
.single-post figure a span {
  width: 2px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0) rotate(360deg);
  -moz-transform: translate(-50%, -50%) scaleY(0) rotate(360deg);
  -ms-transform: translate(-50%, -50%) scaleY(0) rotate(360deg);
  transform: translate(-50%, -50%) scaleY(0) rotate(360deg);
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transform: all 0.4s ease-in-out;
  z-index: 1;
}
/* line 471, ../sass/screen.scss */
.single-post figure a span:after, .single-post figure a span:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 23px;
  background-color: #fff;
  top: 50%;
  left: 50%;
}
/* line 472, ../sass/screen.scss */
.single-post figure a span:before {
  -webkit-transform: translate(-50%, 0) scaleY(1) rotate(0);
  -moz-transform: translate(-50%, 0) scaleY(1) rotate(0);
  -ms-transform: translate(-50%, 0) scaleY(1) rotate(0);
  transform: translate(-50%, 0) scaleY(1) rotate(0);
  transition: all 0.4s cubic-bezier(0.64, -1.18, 0.68, 1.81) 0s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 473, ../sass/screen.scss */
.single-post figure a span:after {
  -webkit-transform: translate(-50%, 0) scaleY(1) rotate(-180deg);
  -moz-transform: translate(-50%, 0) scaleY(1) rotate(-180deg);
  -ms-transform: translate(-50%, 0) scaleY(1) rotate(-180deg);
  transform: translate(-50%, 0) scaleY(1) rotate(-180deg);
  -webkit-transition: all 0.4s cubic-bezier(0.64, -1.18, 0.68, 1.81) 0s;
  -o-transition: all 0.4s cubic-bezier(0.64, -1.18, 0.68, 1.81) 0s;
  transition: all 0.4s cubic-bezier(0.64, -1.18, 0.68, 1.81) 0s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 475, ../sass/screen.scss */
.single-post figure a img {
  width: 100%;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transform: all 0.8s ease-in-out;
}
/* line 478, ../sass/screen.scss */
.single-post .post-info {
  width: 100%;
  float: left;
  padding: 16px 0 7px 0;
}
/* line 479, ../sass/screen.scss */
.single-post .post-info h6 {
  font-size: 14px;
  line-height: 24px;
  color: #6b6b6b;
  font-weight: 800;
  margin-bottom: 6px;
}
/* line 480, ../sass/screen.scss */
.single-post .post-info h6 a {
  color: #6b6b6b;
}
/* line 481, ../sass/screen.scss */
.single-post .post-info h6 a:hover {
  color: #b48253;
}
/* line 484, ../sass/screen.scss */
.single-post .post-info p {
  color: #6b6b6b;
}
/* line 485, ../sass/screen.scss */
.single-post .post-info p a {
  color: #b48253;
  font-weight: 700;
}
/* line 486, ../sass/screen.scss */
.single-post .post-info p a:hover {
  color: #054c69;
}
/* line 491, ../sass/screen.scss */
.single-post:hover figure a:after {
  opacity: .6;
  filter: alpha(opacity=60);
}
/* line 492, ../sass/screen.scss */
.single-post:hover figure a span {
  -webkit-transform: translate(-50%, -50%) scaleY(1) rotate(0);
  -moz-transform: translate(-50%, -50%) scaleY(1) rotate(0);
  -ms-transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
}
/* line 493, ../sass/screen.scss */
.single-post:hover figure a span:before {
  -webkit-transform: translate(-50%, 0) scaleY(1) rotate(90deg);
  -moz-transform: translate(-50%, 0) scaleY(1) rotate(90deg);
  -ms-transform: translate(-50%, 0) scaleY(1) rotate(90deg);
  transform: translate(-50%, 0) scaleY(1) rotate(90deg);
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
/* line 494, ../sass/screen.scss */
.single-post:hover figure a span:after {
  -webkit-transform: translate(-50%, 0) scaleY(1) rotate(-90deg);
  -moz-transform: translate(-50%, 0) scaleY(1) rotate(-90deg);
  -ms-transform: translate(-50%, 0) scaleY(1) rotate(-90deg);
  transform: translate(-50%, 0) scaleY(1) rotate(-90deg);
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
/* line 496, ../sass/screen.scss */
.single-post:hover figure a img {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

/* =====//   footer   \===== */
/* line 502, ../sass/screen.scss */
footer {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  background: #054c69;
}
/* line 503, ../sass/screen.scss */
footer .footer-top-area {
  width: 100%;
  display: table;
}
/* line 504, ../sass/screen.scss */
footer .footer-top-area .fc-widget {
  float: none;
  display: table-cell;
  vertical-align: top;
  position: relative;
}
/* line 505, ../sass/screen.scss */
footer .footer-top-area .fc-widget.col-md-4 {
  background-color: #043a4f;
}
/* line 506, ../sass/screen.scss */
footer .footer-top-area .fc-widget.col-md-4:before {
  content: '';
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 100%;
  background: #043a4f;
}
/* line 507, ../sass/screen.scss */
footer .footer-top-area .fc-widget.col-md-4 .footer-widget {
  max-width: 385px;
  float: right;
}
/* line 510, ../sass/screen.scss */
footer .footer-top-area .footer-widget {
  width: 100%;
  float: left;
  padding: 45px 0;
}
/* line 511, ../sass/screen.scss */
footer .footer-top-area .footer-widget h6 {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}
/* line 512, ../sass/screen.scss */
footer .footer-top-area .footer-widget h6 a {
  text-decoration: underline;
  color: #fff;
}
/* line 514, ../sass/screen.scss */
footer .footer-top-area .footer-widget p {
  font-size: 12px;
  color: #fff;
  line-height: 18px;
}
/* line 515, ../sass/screen.scss */
footer .footer-top-area .footer-widget ul.widget-nav {
  width: 100%;
  float: left;
}
/* line 516, ../sass/screen.scss */
footer .footer-top-area .footer-widget ul.widget-nav li {
  width: 100%;
  float: left;
  padding: 3px 0;
}
/* line 517, ../sass/screen.scss */
footer .footer-top-area .footer-widget ul.widget-nav li a {
  font-size: 12px;
  line-height: 18px;
  padding: 0px;
  color: #fff;
  display: block;
  font-weight: 300;
}
/* line 518, ../sass/screen.scss */
footer .footer-top-area .footer-widget ul.widget-nav li a:hover {
  color: #b48253;
}
/* line 522, ../sass/screen.scss */
footer .footer-top-area .footer-widget .newsletter-widget {
  width: 100%;
  float: left;
  padding: 2px 0 20px 0;
}
/* line 523, ../sass/screen.scss */
footer .footer-top-area .footer-widget .newsletter-widget form {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-right: 118px;
}
/* line 524, ../sass/screen.scss */
footer .footer-top-area .footer-widget .newsletter-widget form input[type='text'], footer .footer-top-area .footer-widget .newsletter-widget form input[type='email'] {
  font-size: 12px;
  color: #999;
  margin-bottom: 0px;
  line-height: 18px;
  border: none;
  padding: 6px 15px;
}
/* line 525, ../sass/screen.scss */
footer .footer-top-area .footer-widget .newsletter-widget form button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 119px;
  text-transform: capitalize;
}
/* line 529, ../sass/screen.scss */
footer .footer-top-area .america-aca {
  width: 100%;
  display: inline-block;
  text-align: left;
}
/* line 530, ../sass/screen.scss */
footer .footer-top-area .america-aca a {
  display: inline-block;
}
/* line 533, ../sass/screen.scss */
footer .copyright {
  width: 100%;
  float: left;
  background: #fff;
  padding: 4px 0;
}
/* line 534, ../sass/screen.scss */
footer .copyright ul.payment_method {
  width: auto;
  float: right;
}
/* line 535, ../sass/screen.scss */
footer .copyright ul.payment_method li {
  float: left;
  padding: 0 5px;
  line-height: 0px;
}
/* line 536, ../sass/screen.scss */
footer .copyright ul.payment_method li:first-child {
  padding-left: 0px;
}
/* line 537, ../sass/screen.scss */
footer .copyright ul.payment_method li:last-child {
  padding-right: 0px;
}
/* line 538, ../sass/screen.scss */
footer .copyright ul.payment_method li svg {
  opacity: 1;
  fill: #043a4f;
  width: 29px;
  height: 29px;
}
/* line 539, ../sass/screen.scss */
footer .copyright ul.payment_method li svg path {
  fill: #043a4f;
}
/* line 543, ../sass/screen.scss */
footer .copyright p {
  font-size: 11px;
  color: #043a4f;
  margin-bottom: 0px;
  font-weight: 700;
  line-height: 21px;
  padding: 4px 0;
}

/* line 546, ../sass/screen.scss */
ul.follow-nav, .question-nav {
  width: 100%;
  float: left;
  line-height: 0px;
}
/* line 547, ../sass/screen.scss */
ul.follow-nav li, .question-nav li {
  float: left;
  padding: 2px 5px;
}
/* line 548, ../sass/screen.scss */
ul.follow-nav li:first-child, .question-nav li:first-child {
  padding-left: 0px;
}
/* line 549, ../sass/screen.scss */
ul.follow-nav li:last-child, .question-nav li:last-child {
  padding-right: 0px;
}
/* line 550, ../sass/screen.scss */
ul.follow-nav li a, .question-nav li a {
  line-height: 0px;
  display: inline-block;
}

/* line 553, ../sass/screen.scss */
.question-nav {
  padding-top: 9px;
}
/* line 554, ../sass/screen.scss */
.question-nav li {
  padding: 0 8px;
}

/* =====//   Breadcrumbs   \===== */
/* line 559, ../sass/screen.scss */
.breadcrumbs-wrap {
  width: 100%;
  float: left;
  background: #f0f6fa;
}
/* line 560, ../sass/screen.scss */
.breadcrumbs-wrap ol.breadcrumb {
  margin-bottom: 0px;
  padding: 5px 10px 8px 199px;
  background-color: transparent;
}
/* line 561, ../sass/screen.scss */
.breadcrumbs-wrap ol.breadcrumb li {
  font-size: 10px;
  color: #4a4a4a;
  font-weight: 400;
  line-height: 15px;
}
/* line 562, ../sass/screen.scss */
.breadcrumbs-wrap ol.breadcrumb li a {
  color: #4a4a4a;
}
/* line 563, ../sass/screen.scss */
.breadcrumbs-wrap ol.breadcrumb li + li:before {
  color: #4a4a4a;
  padding: 0 3px;
}

/* line 568, ../sass/screen.scss */
.block_quote {
  width: 100%;
  float: left;
  border-left: 2px solid #054c69;
  padding: 0 0 0 30px;
}
/* line 569, ../sass/screen.scss */
.block_quote h4 {
  color: #054c69;
  font-weight: 700;
  margin-bottom: 18px;
}
/* line 570, ../sass/screen.scss */
.block_quote p {
  margin-bottom: 0px;
}

/* =====//   collection   \===== */
/* line 575, ../sass/screen.scss */
.main-wrapper {
  width: 100%;
  float: left;
  padding: 15px 0 0 0;
}

/* line 576, ../sass/screen.scss */
.collection-item {
  width: 100%;
  float: left;
  margin-top: 30px;
}
/* line 577, ../sass/screen.scss */
.collection-item figure {
  width: 100%;
  float: left;
  position: relative;
}
/* line 578, ../sass/screen.scss */
.collection-item figure img {
  width: 100%;
}
/* line 579, ../sass/screen.scss */
.collection-item figure figcaption {
  width: 100%;
  float: left;
  max-width: 92%;
  position: absolute;
  bottom: 15px;
  left: 4%;
  padding: 15px 20px 15px 20px;
  background: rgba(0, 0, 0, 0.47);
}
/* line 580, ../sass/screen.scss */
.collection-item figure figcaption .ci-detail {
  width: 100%;
  float: left;
  border-left: 2px solid #fff;
  padding: 0 0 0 15px;
}
/* line 581, ../sass/screen.scss */
.collection-item figure figcaption .ci-detail h4 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 6px;
  text-transform: uppercase;
}
/* line 582, ../sass/screen.scss */
.collection-item figure figcaption .ci-detail h4 a {
  color: #fff;
}
/* line 584, ../sass/screen.scss */
.collection-item figure figcaption .ci-detail p {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 3px;
}
/* line 585, ../sass/screen.scss */
.collection-item figure figcaption .ci-detail .cd-btn {
  width: 100%;
  float: left;
  height: 0px;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transform: all 400ms ease-in-out;
  overflow: hidden;
  opacity: 0;
}
/* line 586, ../sass/screen.scss */
.collection-item figure figcaption .ci-detail .cd-btn a.btn {
  font-weight: 700;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transform: all 400ms ease-in-out;
}
/* line 592, ../sass/screen.scss */
.collection-item:hover figure figcaption .ci-detail .cd-btn {
  height: 77px;
  opacity: 1;
  overflow: visible;
  padding-top: 45px;
}
/* line 593, ../sass/screen.scss */
.collection-item:hover figure figcaption .ci-detail .cd-btn a.btn {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}

/* line 597, ../sass/screen.scss */
.img-banner {
  position: relative;
  height: 500px;
  overflow: hidden;
}
/* line 598, ../sass/screen.scss */
.img-banner img {
  width: 100%;
}
/* line 599, ../sass/screen.scss */
.img-banner .ib-caption {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 2;
}
/* line 600, ../sass/screen.scss */
.img-banner .ib-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(234deg, transparent 3%, black 101%, transparent 103%);
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 601, ../sass/screen.scss */
.img-banner .ib-overlay.overlay-2 {
  background-color: rgba(0, 0, 0, 0.28);
  background-image: none;
}

/* line 604, ../sass/screen.scss */
.ib_content {
  width: 100%;
  float: right;
  max-width: 671px;
  background: rgba(0, 0, 0, 0.6);
  padding: 41px 42px 33px 42px;
}
/* line 605, ../sass/screen.scss */
.ib_content h1 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 7px;
}
/* line 606, ../sass/screen.scss */
.ib_content h6 {
  color: #fff;
  font-weight: 700;
}
/* line 607, ../sass/screen.scss */
.ib_content .ib_box {
  width: 100%;
  display: inline-block;
  background: #fff;
  padding: 30px 28px 18px 33px;
  margin-top: 65px;
  margin-bottom: 24px;
}
/* line 608, ../sass/screen.scss */
.ib_content .ib_box h6 {
  color: #054c69;
  font-weight: 700;
  line-height: normal;
}
/* line 609, ../sass/screen.scss */
.ib_content .ib_box h6 a {
  color: #b48253;
  text-decoration: underline;
}

/* line 613, ../sass/screen.scss */
.pro-content-desc {
  padding: 34px 0 22px 0;
}

/* line 614, ../sass/screen.scss */
.block_desc {
  width: 100%;
  float: left;
}
/* line 615, ../sass/screen.scss */
.block_desc h5 {
  font-weight: 700;
  color: #054c69;
  margin-bottom: 24px;
}
/* line 616, ../sass/screen.scss */
.block_desc p {
  max-width: 630px;
  margin-bottom: 30px;
}

/* line 618, ../sass/screen.scss */
.sticker-block {
  width: 100%;
  float: left;
  padding-top: 20px;
}
/* line 619, ../sass/screen.scss */
.sticker-block h5 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}

/* line 621, ../sass/screen.scss */
.swatch-size {
  width: 100%;
  display: inline-block;
  padding: 33px 0 44px 0;
}
/* line 622, ../sass/screen.scss */
.swatch-size h6 {
  font-size: 12px;
  font-weight: 400;
}
/* line 623, ../sass/screen.scss */
.swatch-size ul.pro_size {
  display: inline-block;
  width: 100%;
}
/* line 624, ../sass/screen.scss */
.swatch-size ul.pro_size li {
  float: left;
  padding: 0 9px;
  line-height: 0px;
}
/* line 625, ../sass/screen.scss */
.swatch-size ul.pro_size li:first-child {
  padding-left: 0px;
}
/* line 626, ../sass/screen.scss */
.swatch-size ul.pro_size li:last-child {
  padding-right: 0px;
}
/* line 627, ../sass/screen.scss */
.swatch-size ul.pro_size li a {
  font-size: 12px;
  color: #054c69;
  min-width: 100px;
  line-height: 28px;
  padding: 2px 5px 0 5px;
  font-weight: 700;
  display: inline-block;
  background: #fff;
  text-align: center;
}
/* line 628, ../sass/screen.scss */
.swatch-size ul.pro_size li a:hover, .swatch-size ul.pro_size li a.active {
  background: #b48253;
  color: #fff;
}

/* line 633, ../sass/screen.scss */
.product-quantity {
  width: 100%;
  display: inline-block;
  border-top: 1px solid #fff;
  padding-top: 34px;
}
/* line 634, ../sass/screen.scss */
.product-quantity .prices {
  display: inline-block;
}
/* line 635, ../sass/screen.scss */
.product-quantity .prices span {
  font-size: 24px;
  color: #fff;
  font-weight: 800;
  display: inline-block;
  line-height: 40px;
  letter-spacing: 2px;
}
/* line 637, ../sass/screen.scss */
.product-quantity .CartItem {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-left: 143px;
}
/* line 638, ../sass/screen.scss */
.product-quantity .CartItem ul.QuantityBox {
  max-width: 125px;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 639, ../sass/screen.scss */
.product-quantity .CartItem button[type="submit"] {
  width: 100%;
  padding: 8px 15px 10px 15px;
}

/* =====//  Shopping Cart Page Style  \===== */
/* line 645, ../sass/screen.scss */
.fluid-area {
  width: 100%;
  float: left;
  padding-right: 35px;
}

/* line 646, ../sass/screen.scss */
.sc-title {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #eae7e5;
}
/* line 647, ../sass/screen.scss */
.sc-title h1 {
  font-size: 24px;
  line-height: 30px;
  color: #054c69;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* line 649, ../sass/screen.scss */
.cart_wrap {
  width: 100%;
  float: left;
  padding: 15px 0;
}
/* line 650, ../sass/screen.scss */
.cart_wrap h5 {
  color: #1f1f1f;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 651, ../sass/screen.scss */
.cart_wrap > ul {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  border-bottom: 1px solid #eae7e5;
  padding-bottom: 15px;
}
/* line 652, ../sass/screen.scss */
.cart_wrap > ul > li {
  width: 100%;
  float: left;
  padding: 10px 45px 10px 0px;
  position: relative;
  display: table;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transform: all 0.4s ease-in-out;
}
/* line 653, ../sass/screen.scss */
.cart_wrap > ul > li .tt-remove {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  min-height: inherit;
  padding: 0px;
}
/* line 654, ../sass/screen.scss */
.cart_wrap > ul > li .tt-remove .svg-close {
  width: 24px;
  height: 24px;
  fill: #6b6b6b;
}
/* line 655, ../sass/screen.scss */
.cart_wrap > ul > li .tt-remove .svg-close path {
  fill: #6b6b6b;
}
/* line 658, ../sass/screen.scss */
.cart_wrap > ul > li a.remove {
  float: right;
  padding: 0px;
  line-height: 0px;
}
/* line 659, ../sass/screen.scss */
.cart_wrap > ul > li .qutinput {
  font-size: 17px;
  color: #b48253;
  text-align: center;
  max-width: 135px;
  border-color: #e9e9e9;
  margin: 20px 0 0 0;
}
/* line 661, ../sass/screen.scss */
.cart_wrap > ul .tt-product {
  width: 64%;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 662, ../sass/screen.scss */
.cart_wrap > ul .tt-qut {
  width: 22%;
}
/* line 663, ../sass/screen.scss */
.cart_wrap > ul .tt-total {
  width: 14%;
}
/* line 664, ../sass/screen.scss */
.cart_wrap > ul .tt-total span {
  font-weight: 400;
  color: #054c69;
  text-align: center;
}
/* line 666, ../sass/screen.scss */
.cart_wrap > ul div {
  font-size: 20px;
  line-height: 24px;
  display: table-cell;
  vertical-align: middle;
  padding: 8px 10px;
  color: #054c69;
  font-family: "Muli", sans-serif;
  position: relative;
}
/* line 667, ../sass/screen.scss */
.cart_wrap > ul div h6 {
  font-size: 14px;
  margin: 0 0 6px 0;
  letter-spacing: 2px;
  font-weight: 700;
}
/* line 668, ../sass/screen.scss */
.cart_wrap > ul div h6 a {
  color: #054c69;
}
/* line 669, ../sass/screen.scss */
.cart_wrap > ul div h6 a:hover {
  color: #b48253;
}
/* line 672, ../sass/screen.scss */
.cart_wrap > ul div p {
  font-size: 14px;
  color: #054c69;
  margin: 0px 0;
  line-height: 18px;
}
/* line 673, ../sass/screen.scss */
.cart_wrap > ul div p.swatchsize {
  font-size: 12px;
  margin-top: 8px;
}
/* line 675, ../sass/screen.scss */
.cart_wrap > ul div span {
  width: 100%;
  display: inline-block;
  line-height: 48px;
}
/* line 677, ../sass/screen.scss */
.cart_wrap > ul .pro_img {
  padding: 0px;
  width: 13%;
  float: left;
  border: 2px solid #eae7e5;
}
/* line 678, ../sass/screen.scss */
.cart_wrap > ul .pro_img img {
  width: 100%;
}
/* line 680, ../sass/screen.scss */
.cart_wrap > ul .pro_Desc {
  width: 87%;
  float: left;
  min-height: auto;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  padding-left: 24px;
}

/* line 683, ../sass/screen.scss */
.fluidside_box {
  width: 100%;
  float: left;
  background: #f0f6fa;
  padding: 22px 27px 22px 17px;
}

/* line 684, ../sass/screen.scss */
.payment_option {
  width: 100%;
  float: left;
}
/* line 685, ../sass/screen.scss */
.payment_option ul.total-payment {
  width: 100%;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
/* line 686, ../sass/screen.scss */
.payment_option ul.total-payment li {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  color: #241e20;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 8px;
}
/* line 687, ../sass/screen.scss */
.payment_option ul.total-payment li span {
  float: right;
}
/* line 690, ../sass/screen.scss */
.payment_option p {
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 11px;
  color: #6b6b6b;
}
/* line 691, ../sass/screen.scss */
.payment_option p.text-pay-with {
  text-align: center;
}
/* line 693, ../sass/screen.scss */
.payment_option [type='submit'] {
  width: 100%;
  line-height: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 13px;
}
/* line 694, ../sass/screen.scss */
.payment_option .paypal_method {
  width: 100%;
  display: inline-block;
  line-height: 0px;
  border-bottom: 1px solid #fff;
  padding-bottom: 13px;
}
/* line 695, ../sass/screen.scss */
.payment_option .paypal_method a {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 0px;
  border: 1px solid #241e20;
  padding: 5px 10px;
  margin: 3px 0 7px 0;
}
/* line 697, ../sass/screen.scss */
.payment_option ul.payment-service {
  width: 100%;
  display: inline-block;
  padding: 0px;
  margin: 24px 0 0 0px;
}
/* line 698, ../sass/screen.scss */
.payment_option ul.payment-service li {
  width: 100%;
  display: inline-block;
  font-size: 12px;
  color: #6b6b6b;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 8px 0;
}
/* line 699, ../sass/screen.scss */
.payment_option ul.payment-service li .svg-ps {
  opacity: 1;
  fill: #6b6b6b;
  width: 24px;
  height: 24px;
  vertical-align: -6px;
  margin-right: 10px;
}
/* line 700, ../sass/screen.scss */
.payment_option ul.payment-service li .svg-ps path {
  fill: #6b6b6b;
}

/* line 705, ../sass/screen.scss */
.contact-form {
  width: 100%;
  float: left;
  padding: 20px 0;
}
/* line 706, ../sass/screen.scss */
.contact-form [type='submit'] {
  width: 100%;
  float: right;
  max-width: 263px;
  line-height: 24px;
}

/* line 708, ../sass/screen.scss */
.svg-social {
  opacity: 1;
  fill: #054c69;
  width: 32px;
  height: 32px;
}
/* line 709, ../sass/screen.scss */
.svg-social path {
  fill: #054c69;
}

/* line 711, ../sass/screen.scss */
.contact_des {
  width: 100%;
  float: left;
  padding: 7px 0 0 0;
}
/* line 712, ../sass/screen.scss */
.contact_des figure {
  width: auto;
  float: left;
}
/* line 713, ../sass/screen.scss */
.contact_des ul.contact_info {
  width: 100%;
  display: inline-block;
  padding: 18px 0 0 0;
}
/* line 714, ../sass/screen.scss */
.contact_des ul.contact_info li {
  font-size: 14px;
  color: #054c69;
  font-weight: 400;
  line-height: 28px;
}
/* line 715, ../sass/screen.scss */
.contact_des ul.contact_info li a {
  color: #054c69;
}
/* line 718, ../sass/screen.scss */
.contact_des .contact_bottom_desc {
  width: 100%;
  display: inline-block;
  padding-top: 14px;
}
/* line 719, ../sass/screen.scss */
.contact_des .contact_bottom_desc p {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
}

/* line 722, ../sass/screen.scss */
ul.social_icons {
  width: 100%;
  display: inline-block;
  line-height: 0px;
  padding: 16px 0;
  border-bottom: 1px solid #fff;
}
/* line 723, ../sass/screen.scss */
ul.social_icons li {
  float: left;
}
/* line 724, ../sass/screen.scss */
ul.social_icons li a {
  display: inline-block;
}

/* line 727, ../sass/screen.scss */
.about-area {
  margin-top: -65px;
  background: #fff;
  position: relative;
  z-index: 2;
}

/* line 728, ../sass/screen.scss */
.about-banner {
  margin-top: -32px;
}
/* line 729, ../sass/screen.scss */
.about-banner h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 2px;
}

/* line 731, ../sass/screen.scss */
.wrap-title {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 732, ../sass/screen.scss */
.wrap-title h4 {
  color: #241e20;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}
/* line 733, ../sass/screen.scss */
.wrap-title p {
  text-align: center;
  color: #241e20;
  font-weight: 700;
  font-style: italic;
}

/* line 735, ../sass/screen.scss */
.register-page {
  display: table;
}
/* line 736, ../sass/screen.scss */
.register-page > [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
/* line 737, ../sass/screen.scss */
.register-page .middle-content {
  width: 100%;
  max-width: 635px;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
/* line 738, ../sass/screen.scss */
.register-page .register_area {
  background: url("../_assets/img/register-bg.jpg") no-repeat top left;
  background-size: cover;
  position: relative;
}
/* line 739, ../sass/screen.scss */
.register-page .register_area:before {
  content: '';
  width: 100%;
  height: 100%;
  background: #b48253;
  opacity: 0.86;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 741, ../sass/screen.scss */
.register-page .content-form {
  width: 100%;
  float: left;
  max-width: 468px;
  padding: 106px 0;
}
/* line 742, ../sass/screen.scss */
.register-page .content-form h4 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 32px;
}
/* line 743, ../sass/screen.scss */
.register-page .content-form .btn {
  font-weight: 700;
  width: 100%;
}
/* line 744, ../sass/screen.scss */
.register-page .content-form.login-form {
  float: right;
}
/* line 745, ../sass/screen.scss */
.register-page .content-form.login-form h4 {
  color: #054c69;
}
/* line 746, ../sass/screen.scss */
.register-page .content-form.login-form button {
  width: 258px;
  margin-right: 20px;
  float: left;
}
/* line 747, ../sass/screen.scss */
.register-page .content-form.login-form a {
  float: left;
  line-height: 40px;
  font-size: 12px;
  text-decoration: underline;
}

/*---------------------------------
------//    Media Query    \------
---------------------------------*/
@media (max-width: 1499px) {
  /* line 757, ../sass/screen.scss */
  .collection-item:hover figure figcaption .ci-detail .cd-btn {
    height: 46px;
    padding-top: 14px;
  }

  /* line 758, ../sass/screen.scss */
  .cart_wrap > ul .pro_img {
    width: 20%;
  }

  /* line 759, ../sass/screen.scss */
  .cart_wrap > ul .pro_Desc {
    width: 80%;
  }

  /* line 760, ../sass/screen.scss */
  .register-page .content-form {
    float: none !important;
    padding: 55px 0;
  }
}
@media (max-width: 1199px) {
  /* line 764, ../sass/screen.scss */
  .whiteWrap, .lightGreyWrap {
    padding: 35px 0;
  }

  /* line 765, ../sass/screen.scss */
  .features-service {
    padding: 10px 0;
  }

  /* line 766, ../sass/screen.scss */
  .pro-content-desc {
    padding: 0px;
  }

  /* line 767, ../sass/screen.scss */
  .fluid-title {
    margin-top: 10px;
  }

  /* line 768, ../sass/screen.scss */
  .question-nav li {
    width: 50%;
  }

  /* line 769, ../sass/screen.scss */
  footer .footer-top-area .footer-widget {
    padding: 30px 0 20px;
  }
  /* line 770, ../sass/screen.scss */
  footer .footer-top-area .footer-widget .newsletter-widget form {
    padding-right: 85px;
  }
  /* line 771, ../sass/screen.scss */
  footer .footer-top-area .footer-widget .newsletter-widget form button {
    width: 85px;
    padding: 8px 6px 6px;
  }

  /* line 775, ../sass/screen.scss */
  header .container, footer .container, .breadcrumbs-wrap .container {
    width: 100%;
  }

  /* line 777, ../sass/screen.scss */
  .collection-item figure {
    overflow: hidden;
    height: 210px;
  }
  /* line 778, ../sass/screen.scss */
  .collection-item figure img {
    width: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-width: inherit;
    height: 100%;
  }
  /* line 779, ../sass/screen.scss */
  .collection-item figure figcaption {
    max-width: 92%;
    bottom: 15px;
    left: 4%;
    padding: 15px 20px 15px 20px;
  }
  /* line 780, ../sass/screen.scss */
  .collection-item figure figcaption .ci-detail {
    padding: 0 0 0 15px;
  }
  /* line 781, ../sass/screen.scss */
  .collection-item figure figcaption .ci-detail h4 {
    font-size: 20px;
  }
  /* line 782, ../sass/screen.scss */
  .collection-item figure figcaption .ci-detail p {
    font-size: 14px;
    line-height: 20px;
  }

  /* line 786, ../sass/screen.scss */
  .block_desc p {
    margin-bottom: 20px;
    max-width: 100%;
  }

  /* line 787, ../sass/screen.scss */
  .img-banner {
    height: 400px;
  }

  /* line 788, ../sass/screen.scss */
  .ib_content .ib_box {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  /* line 789, ../sass/screen.scss */
  .swatch-size {
    padding: 10px 0 15px;
  }

  /* line 790, ../sass/screen.scss */
  .product-quantity {
    padding-top: 18px;
  }

  /* line 791, ../sass/screen.scss */
  .sticker-block h5, .block_desc h5 {
    margin-bottom: 14px;
  }

  /* line 792, ../sass/screen.scss */
  ul.list-style.large li {
    font-size: 15px;
    line-height: 27px;
  }

  /* line 793, ../sass/screen.scss */
  .fluid-area {
    padding-right: 30px;
  }

  /* line 795, ../sass/screen.scss */
  .cart_wrap > ul .tt-product {
    width: 62%;
  }
  /* line 796, ../sass/screen.scss */
  .cart_wrap > ul .tt-total {
    width: 16%;
  }
  /* line 797, ../sass/screen.scss */
  .cart_wrap > ul .tt-total span {
    font-weight: 600;
  }
  /* line 799, ../sass/screen.scss */
  .cart_wrap > ul div {
    font-size: 16px;
  }
  /* line 800, ../sass/screen.scss */
  .cart_wrap > ul .pro_img {
    width: 25%;
  }
  /* line 801, ../sass/screen.scss */
  .cart_wrap > ul .pro_Desc {
    width: 75%;
    padding-left: 16px;
  }

  /* line 803, ../sass/screen.scss */
  ul.Homeslider li {
    height: 500px;
  }
}
@media (max-width: 991px) {
  /* line 807, ../sass/screen.scss */
  .question-nav li {
    width: auto;
  }

  /* line 808, ../sass/screen.scss */
  .navbar-expand-toggle {
    display: block;
  }

  /* line 809, ../sass/screen.scss */
  .construct-area {
    padding-left: 0px;
  }
  /* line 810, ../sass/screen.scss */
  .construct-area .site-logo {
    display: none;
  }

  /* line 813, ../sass/screen.scss */
  header .container {
    padding: 0px;
  }
  /* line 814, ../sass/screen.scss */
  header .topheader {
    border-bottom: 0px;
    padding: 5px 15px 3px 50px;
  }
  /* line 815, ../sass/screen.scss */
  header .topheader .search-box {
    border-bottom: 1px solid #054c69;
  }
  /* line 817, ../sass/screen.scss */
  header .primary_nav {
    padding: 10px 15px;
    background: #fff;
  }
  /* line 818, ../sass/screen.scss */
  header .primary_nav .site-mob-logo {
    display: block;
  }
  /* line 819, ../sass/screen.scss */
  header .primary_nav nav.topbar-nav {
    display: none;
  }
  /* line 820, ../sass/screen.scss */
  header .primary_nav .shopping-cart {
    padding-top: 3px;
  }
  /* line 821, ../sass/screen.scss */
  header .primary_nav .shopping-cart .cart-desc span {
    color: #054c69;
  }
  /* line 822, ../sass/screen.scss */
  header .primary_nav .shopping-cart .svg-icon {
    fill: #054c69;
  }
  /* line 823, ../sass/screen.scss */
  header .primary_nav .shopping-cart .svg-icon path {
    fill: #054c69;
  }

  /* line 828, ../sass/screen.scss */
  .breadcrumbs-wrap ol.breadcrumb {
    padding-left: 0px;
  }

  /* line 829, ../sass/screen.scss */
  .features-service .el-circle {
    margin-bottom: 30px;
  }
  /* line 830, ../sass/screen.scss */
  .features-service .el-circle .fs-arrow {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    bottom: -46px;
    top: inherit;
    left: 0px;
  }
  /* line 832, ../sass/screen.scss */
  .features-service .el-circle.prim_col .fs-arrow {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    bottom: -46px;
    top: inherit;
    left: 0px;
    right: inherit;
  }
  /* line 833, ../sass/screen.scss */
  .features-service .el-circle.prim_col:before {
    left: 24px;
  }

  /* line 836, ../sass/screen.scss */
  .check-wrapper {
    padding: 2px 0 2px 50px;
  }
  /* line 837, ../sass/screen.scss */
  .check-wrapper:after {
    width: 20px;
    height: 20px;
    font-size: 8px;
    line-height: 20px;
    top: 8px;
    left: 8px;
  }
  /* line 838, ../sass/screen.scss */
  .check-wrapper:before {
    width: 36px;
    height: 36px;
  }

  /* line 841, ../sass/screen.scss */
  .made-wisconsin p {
    line-height: 24px;
  }
  /* line 842, ../sass/screen.scss */
  .made-wisconsin h4 {
    margin-bottom: 8px;
  }
  /* line 843, ../sass/screen.scss */
  .made-wisconsin a.btn {
    margin-top: 6px;
  }

  /* line 845, ../sass/screen.scss */
  .ib_content {
    max-width: 555px;
    padding: 20px 24px 20px 24px;
  }

  /* line 846, ../sass/screen.scss */
  .fluid-area {
    padding-right: 0px;
  }

  /* line 847, ../sass/screen.scss */
  .register-page .content-form {
    max-width: 320px;
  }
  /* line 848, ../sass/screen.scss */
  .register-page .content-form.login-form button {
    max-width: 170px;
  }

  /* line 850, ../sass/screen.scss */
  ul.Homeslider li {
    height: 400px;
  }

  /* line 852, ../sass/screen.scss */
  .slide-caption .small-content h4 {
    padding-bottom: 6px;
  }
  /* line 853, ../sass/screen.scss */
  .slide-caption .small-content p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  /* line 859, ../sass/screen.scss */
  footer .footer-top-area .america-aca {
    text-align: center;
  }
  /* line 860, ../sass/screen.scss */
  footer .footer-top-area .fc-widget {
    display: inline-block;
    float: left;
    text-align: center;
    padding-bottom: 20px;
  }
  /* line 861, ../sass/screen.scss */
  footer .footer-top-area .fc-widget .footer-widget {
    padding: 16px 0 0px;
  }
  /* line 862, ../sass/screen.scss */
  footer .footer-top-area .fc-widget h6 {
    margin-bottom: 2px;
  }
  /* line 863, ../sass/screen.scss */
  footer .footer-top-area .fc-widget ul.widget-nav li, footer .footer-top-area .fc-widget .question-nav li {
    width: auto;
    float: none;
    display: inline-block;
    padding: 8px;
  }
  /* line 864, ../sass/screen.scss */
  footer .footer-top-area .fc-widget ul.follow-nav li, footer .footer-top-area .fc-widget .question-nav li {
    float: none;
    display: inline-block;
  }
  /* line 865, ../sass/screen.scss */
  footer .footer-top-area .fc-widget.col-md-4 .footer-widget {
    max-width: 380px;
    margin: 0 auto;
    float: none;
  }
  /* line 868, ../sass/screen.scss */
  footer .copyright {
    padding: 12px 0;
    text-align: center;
  }
  /* line 869, ../sass/screen.scss */
  footer .copyright ul.payment_method {
    width: 100%;
  }
  /* line 870, ../sass/screen.scss */
  footer .copyright ul.payment_method li {
    float: none;
    display: inline-block;
  }

  /* line 874, ../sass/screen.scss */
  .blog-fluid .col-md-4:last-child .single-post {
    margin-bottom: 0px;
  }

  /* line 875, ../sass/screen.scss */
  p.lead {
    font-size: 15px;
    line-height: 24px;
  }

  /* line 876, ../sass/screen.scss */
  p, .small-content p {
    line-height: 21px;
    margin-bottom: 12px;
  }

  /* line 877, ../sass/screen.scss */
  h1 {
    font-size: 26px;
  }

  /* line 878, ../sass/screen.scss */
  h2 {
    font-size: 26px;
    line-height: 32px;
  }

  /* line 879, ../sass/screen.scss */
  h3 {
    font-size: 24px;
  }

  /* line 880, ../sass/screen.scss */
  h4 {
    font-size: 22px;
  }

  /* line 881, ../sass/screen.scss */
  h5 {
    font-size: 18px;
  }

  /* line 882, ../sass/screen.scss */
  h6 {
    font-size: 14px;
  }

  /* line 883, ../sass/screen.scss */
  .collection-item {
    max-width: 640px;
    float: left;
  }

  /* line 884, ../sass/screen.scss */
  .block_desc p {
    margin-bottom: 14px;
  }

  /* line 885, ../sass/screen.scss */
  .register-page {
    display: inline-block;
  }
  /* line 886, ../sass/screen.scss */
  .register-page > [class*="col-"] {
    float: left;
    display: inline-block;
  }

  /* line 888, ../sass/screen.scss */
  .register-page .content-form {
    max-width: 480px;
    padding: 35px 0;
  }
  /* line 889, ../sass/screen.scss */
  .register-page .content-form h4 {
    margin-bottom: 16px;
  }
}
@media (max-width: 640px) {
  /* line 895, ../sass/screen.scss */
  .cart_wrap > ul {
    border-bottom: 0px;
  }
  /* line 896, ../sass/screen.scss */
  .cart_wrap > ul > li.CartItem {
    display: inline-block;
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid #eae7e5;
  }
  /* line 897, ../sass/screen.scss */
  .cart_wrap > ul div {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 898, ../sass/screen.scss */
  .cart_wrap > ul .pro_img {
    display: none;
  }
  /* line 899, ../sass/screen.scss */
  .cart_wrap > ul .pro_Desc {
    max-width: 300px;
    position: static;
    top: inherit;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    float: right;
  }
  /* line 900, ../sass/screen.scss */
  .cart_wrap > ul div span {
    width: auto;
    float: right;
    line-height: 32px;
  }
  /* line 902, ../sass/screen.scss */
  .cart_wrap ul.shopCart li div:before {
    content: attr(data-label);
    width: 50px;
    float: left;
    font-size: 14px;
    line-height: 32px;
    color: #1f1f1f;
    font-weight: 600;
    text-align: left;
  }
  /* line 904, ../sass/screen.scss */
  .cart_wrap .shopCart .tt-product, .cart_wrap .shopCart .tt-name, .cart_wrap .shopCart .tt-qty, .cart_wrap .shopCart .tt-price, .cart_wrap .shopCart .tt-total, .cart_wrap .shopCart .tt-close, .cart_wrap .shopCart .tt-remove {
    width: 100%;
    display: block;
    float: right;
    text-align: right;
  }
  /* line 906, ../sass/screen.scss */
  .cart_wrap .shopCart .tt-name p a {
    text-transform: uppercase;
    font-size: 14px;
  }
  /* line 907, ../sass/screen.scss */
  .cart_wrap .shopCart .tt-remove {
    position: static;
    top: inherit;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    float: right;
  }
  /* line 908, ../sass/screen.scss */
  .cart_wrap .shopCart .tt-remove a.remove {
    margin-top: 4px;
  }
  /* line 911, ../sass/screen.scss */
  .cart_wrap ul.QuantityBox {
    float: right;
  }
  /* line 913, ../sass/screen.scss */
  .cart_wrap .cart-footer .shippingOption {
    padding-bottom: 18px;
  }
  /* line 914, ../sass/screen.scss */
  .cart_wrap .cart-footer .opt-total-container ul {
    margin: 10px 0 20px 0;
  }
  /* line 915, ../sass/screen.scss */
  .cart_wrap .cart-footer .opt-total-container ul li {
    line-height: 28px;
  }
  /* line 916, ../sass/screen.scss */
  .cart_wrap .cart-footer .opt-total-container ul li .total-price {
    font-size: 24px;
  }

  /* line 921, ../sass/screen.scss */
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    margin-bottom: 12px;
    padding: 6px 12px;
  }

  /* line 924, ../sass/screen.scss */
  textarea {
    height: 110px;
  }

  /* line 925, ../sass/screen.scss */
  ul.list-style li {
    line-height: 21px;
    margin-bottom: 12px;
  }

  /* line 926, ../sass/screen.scss */
  ul.Homeslider ul.slick-dots {
    bottom: 16px;
  }
}
@media (max-width: 567px) {
  /* line 929, ../sass/screen.scss */
  .block_quote {
    padding-left: 16px;
  }

  /* line 930, ../sass/screen.scss */
  .product-quantity {
    padding-top: 10px;
  }

  /* line 931, ../sass/screen.scss */
  .swatch-size {
    padding: 4px 0 10px 0;
  }
  /* line 932, ../sass/screen.scss */
  .swatch-size ul.pro_size li {
    padding: 0 5px;
  }
  /* line 933, ../sass/screen.scss */
  .swatch-size ul.pro_size li a {
    min-width: 60px;
  }

  /* line 936, ../sass/screen.scss */
  [type='submit'], button {
    font-size: 14px;
    letter-spacing: 1px;
  }

  /* line 937, ../sass/screen.scss */
  .ib_content .ib_box {
    padding: 15px 16px 15px 16px;
    margin-top: 0px;
  }

  /* line 938, ../sass/screen.scss */
  .ib_content {
    padding: 15px 16px 12px 16px;
  }

  /* line 939, ../sass/screen.scss */
  .product-quantity .CartItem {
    margin-top: 6px;
    padding-left: 120px;
  }
  /* line 940, ../sass/screen.scss */
  .product-quantity .CartItem ul.QuantityBox {
    max-width: 110px;
  }

  /* line 942, ../sass/screen.scss */
  .img-banner {
    height: 350px;
  }

  /* line 943, ../sass/screen.scss */
  .wrap-title h4 {
    letter-spacing: 1px;
    margin-bottom: 14px;
  }
}
@media (max-width: 479px) {
  /* line 947, ../sass/screen.scss */
  header .topheader ul.lang-nav li {
    margin: 0 6px;
  }
  /* line 948, ../sass/screen.scss */
  header .topheader ul.lang-nav li a.btn-search {
    font-size: 0px;
  }

  /* line 950, ../sass/screen.scss */
  .app-container .content-container .side-menu, .cart-side-panel {
    width: 100%;
  }

  /* line 951, ../sass/screen.scss */
  .made-wisconsin {
    padding: 45px 0 50px;
  }

  /* line 952, ../sass/screen.scss */
  .contact-form [type='submit'] {
    max-width: 100%;
  }
}
@media (max-width: 374px) {
  /* line 955, ../sass/screen.scss */
  .register-page .content-form.login-form button {
    max-width: 100%;
    margin-right: 0px;
    width: 100%;
  }
}
