@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4ijdkl');
  src:  url('fonts/icomoon.eot?4ijdkl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4ijdkl') format('truetype'),
    url('fonts/icomoon.woff?4ijdkl') format('woff'),
    url('fonts/icomoon.svg?4ijdkl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e905";
}
.icon-shopping-bag:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-heart-fill:before {
  content: "\e902";
}
.icon-heart:before {
  content: "\e903";
}
.icon-bars:before {
  content: "\e904";
}
.icon-telephone:before {
  content: "\e906";
  color: #fff;
}
.icon-maps-and-flags:before {
  content: "\e907";
}
.icon-email:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e912";
}
.icon-calendar-o:before {
  content: "\e909";
}
